
// *****************************************************************************************
// * When changing this file, look at normalize.jade for possible redundant changes needed *
// *****************************************************************************************



.county.normalize-container

  .row.mls-select
    .col-md-4 Select {{countyData.dataSourceType.name}} Source
      select(ng-model="countyData.current" ng-options="value.name + ' (' + value.id + ')' for value in countyConfigs" ng-change="selectCounty()")
        option(value="" disabled)
      .btn.btn-primary.reload(ng-click="getCountyList()")
        img(src="../../assets/reload-arrow.png" width="10" height="10")
    .col-md-3 Select List Type
      select(ng-model="countyData.dataListType" ng-options="value.name for value in dataListTypes" ng-change="selectCounty()")
    .col-md-5

  .row.panel(cg-busy="countyLoading" ng-show="countyData.current && countyData.dataListType")
    .row
      input(ng-model="rootSearchText" placeholder="Search All")
    .row
      .close-icon(ng-click="showGrid=!showGrid" tooltip="Grid view") ☰

      .col-md-2.list-container
        h4 Filters
        .row-slim.row
          .col-md-12
            .filter-container
              input(ng-model="filterSearchText" placeholder="Search")
        .row-slim.row
          .col-md-12
            .field-container(cg-busy="baseLoading")
              .field.base(
              ng-class="{ invalid: !item.valid(), selected: item == fieldData.current }"
              ng-click="selectField(item)"
              ng-repeat="item in categories.base | filter:rootSearchText | filter:filterSearchText | orderBy : 'alias'") {{item.alias}}
                span.datatype(ng-show="item.valid() && !item.input")

      .col-md-2.list-container
        h4 {{countyData.dataSourceType.name}}, {{countyData.dataListType.name}}
        .i.fa.fa-eye-slash.close-icon(ng-click="hideUnassigned()" tooltip="All unassigned to Hidden")
        .row-slim.row
          .col-md-12
            .filter-container
              input(ng-model="countySearchText" placeholder="Search")
        .row-slim.row
          .col-md-12
            .field-container(
            rmaps-droppable="categories.unassigned" on-drop="onDropCategory")
              .placeholder-field(ng-hide="fieldData.totalCount > 0")
                span No Available Fields for
                br
                span {{countyData.current.name}}, {{countyData.dataListType.name}}
              .field(
              ng-class="{ 'assigned': item.assigned, categorized: item.list != 'unassigned', selected: item == fieldData.current, invalid: !item.config.DataType }"
              ng-click="selectField(item)"
              rmaps-draggable="item" rmaps-draggable-collection="categories.unassigned"
              ng-repeat="item in categories.unassigned | filter:rootSearchText | filter:countySearchText | orderBy : [orderValid, orderList, '-assigned', 'input']") {{item.input}}
                span.datatype(ng-class="[item.type.name, item.config.Interpretation]" ng-show="item.type")

      .col-md-3.list-container(ng-if="!showGrid")
        h4 Groups
        .row-slim.row
          .col-md-12
            .filter-container
              input(ng-model="groupSearchText" placeholder="Search")
        .row-slim.row
          .col-md-12
            .field-container(
            cg-busy="fieldData.category.loading")
              .field.category-item(
              rmaps-droppable="category.items" on-drop="onDropCategory"
              ng-class="{ selected: category == fieldData.category }"
              ng-click="fieldData.category = category"
              ng-repeat="category in targetCategories | filter:rootSearchText | filter:groupSearchText | filter:{label:'!base'} | filter:{label:'!unassigned'}") {{ category.label }} ( {{category.items.length}} )

      .col-md-3.list-container(ng-if="!showGrid && fieldData.category")
        h4 {{fieldData.category.label}}
        .field-container(
          rmaps-droppable="fieldData.category.items" on-drop="onDropCategory"
          cg-busy="fieldData.category.loading")
          .field(
          class="base unselectable"
          ng-repeat="item in baseRules" ng-if="fieldData.category && item.group == fieldData.category.list") {{ item.alias }}
          .field(
          ng-class="{ 'assigned': item.assigned, selected: item == fieldData.current, invalid: !item.config.DataType}"
          ng-click="item.unselectable || selectField(item)"
          rmaps-draggable="item" rmaps-draggable-collection="fieldData.category.items"
          ng-repeat="item in fieldData.category.items | filter:rootSearchText")
            span(ng-show="!item.unselectable") {{item.input}}
            span(ng-show="item.unselectable") {{item.alias}}
            span.datatype(ng-class="[item.type.name, item.config.Interpretation]" ng-show="item.type")

      .col-md-8.list-container(ng-if="showGrid")
        h4 Groups
        .field-container
          .category(
          cg-busy="category.loading"
          ng-class="{collapse: !expanded}"
          rmaps-droppable="category.items" on-drop="onDropCategory"
          ng-repeat="category in targetCategories | filter:{label:'!base'} | filter:{label:'!unassigned'}") {{ category.label }}
            .expand-icon(ng-click="expanded = !expanded" ng-show="category.items.length > 5")
            .field-list
              .field(
              class="base unselectable"
              ng-repeat="item in baseRules" ng-if="item.group == category.list") {{ item.alias }}
              .field(
              ng-class="{ 'assigned': item.assigned, selected: item == fieldData.current, invalid: !item.config.DataType }"
              ng-click="item.unselectable || selectField(item)"
              rmaps-draggable="item" rmaps-draggable-collection="category.items"
              ng-repeat="item in category.items")
                span(ng-show="!item.unselectable") {{item.input}}
                span(ng-show="item.unselectable") {{item.output}}
                span.datatype(ng-class="[item.type.name, item.config.Interpretation]" ng-show="item.type")

  .row.panel.properties-container(ng-show="fieldData.current")

    .close-fieldData-icon(ng-click="fieldData.current = null") X

    .col-md-12.scroll(ng-show="fieldData.current.list != 'base'")
      .row
        .col-md-2 County Field Name:
        .col-md-10 {{fieldData.current.input}}
      .row
        .col-md-2 Data Type:
        .col-md-10(ng-if="fieldData.current.type") {{fieldData.current.type.label}}
        .col-md-10(ng-if="!fieldData.current.type") Metadata missing! This field may have been renamed or removed.
         .btn.btn-danger(ng-click="removeRule()") REMOVE RULE
      .row
        .col-md-2 Alias:
        .col-md-2
          input(type="text" ng-model="fieldData.current.output" ng-change="updateRule()")
        .col-md-8.help Supply a more readable name for this field if necessary
      .row(ng-if="fieldData.current.type.name == 'integer' || fieldData.current.type.name == 'float'")
        .col-md-2 Remove zero (0) values?
        .col-md-2
          input(type="checkbox" ng-model="fieldData.current.config.nullZero" ng-disabled="fieldData.current.config.advanced" ng-change="updateRule()")
        .col-md-8.help Any 0s found in this field will be removed and won't be visible
      .row(ng-if="fieldData.current.type.name == 'integer' || fieldData.current.type.name == 'float'")
        .col-md-2 Remove specific value(s)
        .col-md-2
          input(type="text" ng-model="fieldData.current.config.nullNumber" rmaps-list-input placeholder="1, 2, 3" ng-disabled="fieldData.current.config.advanced" ng-change="updateRule()")
        .col-md-8.help Any of the specified values found in this field will be removed and won't be visible. Multiple values may be entered separated by commas.
      .row(ng-if="fieldData.current.type.name == 'float'")
        .col-md-2 Round / truncate decimal
        .col-md-2
          input(type="checkbox" ng-model="fieldData.current.config.floorDecimal" ng-disabled="fieldData.current.config.advanced" ng-change="updateRule()")
        .col-md-8.help Values with decimals will be replaced with round numbers, for example 2.87 becomes 2

      .row(ng-if="fieldData.current.type.name == 'string'")
        .col-md-2 Remove empty?
        .col-md-2
          input(type="checkbox" ng-model="fieldData.current.config.nullEmpty" ng-disabled="fieldData.current.config.advanced" ng-change="updateRule()")
        .col-md-8.help Any empty values will be removed so they don't show up
      .row(ng-if="fieldData.current.type.name == 'string'")
        .col-md-2 Remove specific value(s)
        .col-md-2
          input(type="text" ng-model="fieldData.current.config.nullString" rmaps-list-input placeholder="no, false, n/a" ng-disabled="fieldData.current.config.advanced" ng-change="updateRule()")
        .col-md-8.help The values listed will be removed so they don't show up
      .row(ng-if="fieldData.current.type.name == 'string'")
        .col-md-2 Transform
        .col-md-2
          select(ng-model="fieldData.current.config.transformString" ng-options="v as k for (k, v) in transformOptions" ng-disabled="fieldData.current.config.advanced" ng-change="updateRule()")
            option(value="") None
        .col-md-8.help Value will be changed to UPPERCASE, lowercase or Capitalized
      .row(ng-if="fieldData.current.type.name == 'string' && fieldData.current.config.Interpretation == 'LookupMulti'")
        .col-md-2 Split by
        .col-md-2
          input(type="text" ng-model="fieldData.current.config.split" ng-disabled="fieldData.current.config.advanced" ng-change="updateRule()")
        .col-md-8.help Enter the separator to use for splitting values in this field (a comma ',' is typical)
      .row(ng-if="fieldData.current.type.name == 'boolean'")
        .col-md-2 Remove values
        .col-md-2
          select(ng-model="fieldData.current.config.nullBoolean" ng-options="v as k for (k, v) in nullifyOptions" ng-disabled="fieldData.current.config.advanced" ng-change="updateRule()")
        .col-md-8.help Remove the selected value
      .row(ng-if="fieldData.current.type.name == 'integer'")
        .col-md-2 Implicit Decimal Places
        .col-md-4
          input(type="number" placeholder="0" ng-model="fieldData.current.config.implicitDecimals" ng-disabled="fieldData.current.config.advanced" ng-change="updateRule()")
      .row(ng-if="fieldData.current.config.Interpretation == 'Lookup'")
        .col-md-2 Do Lookup Table Mapping?
        .col-md-4
          input(type="checkbox" ng-model="fieldData.current.config.doLookup" ng-disabled="fieldData.current.config.advanced" ng-change="updateRule()")
      .row(ng-if="fieldData.current.config.doLookup && !fieldData.current.lookups.length && fieldData.current._lookups.length > lookupThreshold")
        .col-md-2 Lookup has {{fieldData.current._lookups.length}} entries.
        .col-md-2
          .btn.btn-primary(ng-click="fieldData.current.lookups = fieldData.current._lookups") See all values anyway?
      .row.lookup(ng-if="fieldData.current.config.doLookup" ng-repeat="lookup in fieldData.current.lookups")
        .col-md-2 {{lookup.LongValue}}
        .col-md-2
          input(type="text" placeholder="Display value" ng-model="fieldData.current.config.mapping[lookup.LongValue]" ng-disabled="fieldData.current.config.advanced" ng-change="updateRule()")
        .col-md-8.help(ng-show="$index == 0") Replace values with more readable values where necessary

    div(ng-show="fieldData.current.list == 'base'")
      // Generic input handling here, only for "simple"/string input values (i.e. not array or object)
      .col-md-12.scroll(ng-show="fieldData.current.input == null || typeOf(fieldData.current.input) == 'string'")
        .row
          .col-md-2 RealtyMaps Field
          .col-md-10
            .field(rmaps-droppable="'input'" on-drop="onDropBase" ng-class="{ empty: !fieldData.current.input }")
              span(ng-show="fieldData.current.input") {{fieldData.current.input}}:
              span {{fieldData.current.alias}}
              span.remove-icon(ng-show="fieldData.current.input" ng-click="removeBase()") X

      .col-md-12.scroll(ng-if="fieldData.current.output == 'address' || fieldData.current.output == 'owner_address'")
        .row
          .col-md-2 {{fieldData.current.alias}}
        .row
          .col-md-2 "Care Of" (optional)
          .col-md-10
            .field(rmaps-droppable="'careOf'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.careOf}")
              span(ng-show="fieldData.current.input.careOf") {{fieldData.current.input.careOf}}:
              span Care Of
              span.remove-icon(ng-show="fieldData.current.input.careOf" ng-click="removeBaseInput('careOf')") X
        .row
          .col-md-2 Street Address
          .col-md-10
            .field(rmaps-droppable="'streetNum'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.streetNum }")
              span(ng-show="fieldData.current.input.streetNum") {{fieldData.current.input.streetNum}}:
              span Street Number
              span.remove-icon(ng-show="fieldData.current.input.streetNum" ng-click="removeBaseInput('streetNum')") X
            .field(rmaps-droppable="'streetName'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.streetName }")
              span(ng-show="fieldData.current.input.streetName") {{fieldData.current.input.streetName}}:
              span Street Name
              span.remove-icon(ng-show="fieldData.current.input.streetName" ng-click="removeBaseInput('streetName')") X
            span.sep OR
            .field(rmaps-droppable="'streetFull'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.streetFull }")
              span(ng-show="fieldData.current.input.streetFull") {{fieldData.current.input.streetFull}}:
              span Full Street
              span.remove-icon(ng-show="fieldData.current.input.streetFull" ng-click="removeBaseInput('streetFull')") X
        .row
          .col-md-2 City and State
          .col-md-10
            .field(rmaps-droppable="'city'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.city }")
              span(ng-show="fieldData.current.input.city") {{fieldData.current.input.city}}:
              span City
              span.remove-icon(ng-show="fieldData.current.input.city" ng-click="removeBaseInput('city')") X
            span.sep AND
            .field(rmaps-droppable="'state'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.state }")
              span(ng-show="fieldData.current.input.state") {{fieldData.current.input.state}}:
              span State
              span.remove-icon(ng-show="fieldData.current.input.state" ng-click="removeBaseInput('state')") X
        .row
          .col-md-2 Zip Code
          .col-md-10
            span.sep (
            .field(rmaps-droppable="'zip'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.zip }")
              span(ng-show="fieldData.current.input.zip") {{fieldData.current.input.zip}}:
              span Zip5
              span.remove-icon(ng-show="fieldData.current.input.zip" ng-click="removeBaseInput('zip')") X
            span.sep AND (optional)
            .field(rmaps-droppable="'zip4'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.zip4 }")
              span(ng-show="fieldData.current.input.zip4") {{fieldData.current.input.zip4}}:
              span Zip4
              span.remove-icon(ng-show="fieldData.current.input.zip4" ng-click="removeBaseInput('zip4')") X
            span.sep ) OR
            .field(rmaps-droppable="'zip9'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.zip9 }")
              span(ng-show="fieldData.current.input.zip9") {{fieldData.current.input.zip9}}:
              span Zip5 + Zip4
              span.remove-icon(ng-show="fieldData.current.input.zip9" ng-click="removeBaseInput('zip9')") X
        .row
          .col-md-2 Optional
          .col-md-10
            .field(rmaps-droppable="'unitNum'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.unitNum }")
              span(ng-show="fieldData.current.input.unitNum") {{fieldData.current.input.unitNum}}:
              span Unit Number
              span.remove-icon(ng-show="fieldData.current.input.unitNum" ng-click="removeBaseInput('unitNum')") X
            .field(rmaps-droppable="'unitType'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.unitType }")
              span(ng-show="fieldData.current.input.unitType") {{fieldData.current.input.unitType}}:
              span Unit Type
              span.remove-icon(ng-show="fieldData.current.input.unitType" ng-click="removeBaseInput('unitType')") X
            .field(rmaps-droppable="'streetNumSuffix'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.streetNumSuffix }")
              span(ng-show="fieldData.current.input.streetNumSuffix") {{fieldData.current.input.streetNumSuffix}}:
              span Number Suffix
              span.remove-icon(ng-show="fieldData.current.input.streetNumSuffix" ng-click="removeBaseInput('streetNumSuffix')") X
            .field(rmaps-droppable="'streetSuffix'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.streetSuffix }")
              span(ng-show="fieldData.current.input.streetSuffix") {{fieldData.current.input.streetSuffix}}:
              span Street Suffix
              span.remove-icon(ng-show="fieldData.current.input.streetSuffix" ng-click="removeBaseInput('streetSuffix')") X
        .row
          .col-md-2 Optional
          .col-md-10
            .field(rmaps-droppable="'streetDirPrefix'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.streetDirPrefix }")
              span(ng-show="fieldData.current.input.streetDirPrefix") {{fieldData.current.input.streetDirPrefix}}:
              span Direction Prefix
              span.remove-icon(ng-show="fieldData.current.input.streetDirPrefix" ng-click="removeBaseInput('streetDirPrefix')") X
            .field(rmaps-droppable="'streetDirSuffix'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.streetDirSuffix }")
              span(ng-show="fieldData.current.input.streetDirSuffix") {{fieldData.current.input.streetDirSuffix}}:
              span Direction Suffix
              span.remove-icon(ng-show="fieldData.current.input.streetDirSuffix" ng-click="removeBaseInput('streetDirSuffix')") X
            .field(rmaps-droppable="'showStreetInfo'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.showStreetInfo }")
              span(ng-show="fieldData.current.input.showStreetInfo") {{fieldData.current.input.showStreetInfo}}:
              span Show Street Info
              span.remove-icon(ng-show="fieldData.current.input.showStreetInfo" ng-click="removeBaseInput('showStreetInfo')") X

      .col-md-12.scroll(ng-if="fieldData.current.output == 'owner_address'")
        .row
          .col-md-2 {{fieldData.current.alias}}
        .row
          .col-md-2 "Care Of" (optional)
          .col-md-10
            .field(rmaps-droppable="'careOf'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.careOf}")
              span(ng-show="fieldData.current.input.careOf") {{fieldData.current.input.careOf}}:
              span Care Of
              span.remove-icon(ng-show="fieldData.current.input.careOf" ng-click="removeBaseInput('careOf')") X
        .row
          .col-md-2 City and State
          .col-md-10
            .field(rmaps-droppable="'city'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.city }")
              span(ng-show="fieldData.current.input.city") {{fieldData.current.input.city}}:
              span City
              span.remove-icon(ng-show="fieldData.current.input.city" ng-click="removeBaseInput('city')") X
            span.sep AND
            .field(rmaps-droppable="'state'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.state }")
              span(ng-show="fieldData.current.input.state") {{fieldData.current.input.state}}:
              span State
              span.remove-icon(ng-show="fieldData.current.input.state" ng-click="removeBaseInput('state')") X
        .row
          .col-md-2 Street Address
          .col-md-10
            .field(rmaps-droppable="'streetNum'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.streetNum }")
              span(ng-show="fieldData.current.input.streetNum") {{fieldData.current.input.streetNum}}:
              span Street Number
              span.remove-icon(ng-show="fieldData.current.input.streetNum" ng-click="removeBaseInput('streetNum')") X
            .field(rmaps-droppable="'streetName'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.streetName }")
              span(ng-show="fieldData.current.input.streetName") {{fieldData.current.input.streetName}}:
              span Street Name
              span.remove-icon(ng-show="fieldData.current.input.streetName" ng-click="removeBaseInput('streetName')") X
            span.sep OR
            .field(rmaps-droppable="'streetFull'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.streetFull }")
              span(ng-show="fieldData.current.input.streetFull") {{fieldData.current.input.streetFull}}:
              span Full Street
              span.remove-icon(ng-show="fieldData.current.input.streetFull" ng-click="removeBaseInput('streetFull')") X
        .row
          .col-md-2 Zip Code
          .col-md-10
            .field(rmaps-droppable="'zip'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.zip }")
              span(ng-show="fieldData.current.input.zip") {{fieldData.current.input.zip}}:
              span Zip
              span.remove-icon(ng-show="fieldData.current.input.zip" ng-click="removeBaseInput('zip')") X
            span.sep OR
            .field(rmaps-droppable="'zip9'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.zip9 }")
              span(ng-show="fieldData.current.input.zip9") {{fieldData.current.input.zip9}}:
              span Zip + 4
              span.remove-icon(ng-show="fieldData.current.input.zip9" ng-click="removeBaseInput('zip9')") X
        .row
          .col-md-2 Optional
          .col-md-10
            .field(rmaps-droppable="'unitNum'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.unitNum }")
              span(ng-show="fieldData.current.input.unitNum") {{fieldData.current.input.unitNum}}:
              span Unit Number
              span.remove-icon(ng-show="fieldData.current.input.unitNum" ng-click="removeBaseInput('unitNum')") X
            .field(rmaps-droppable="'unitType'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.unitType }")
              span(ng-show="fieldData.current.input.unitType") {{fieldData.current.input.unitType}}:
              span Unit Type
              span.remove-icon(ng-show="fieldData.current.input.unitType" ng-click="removeBaseInput('unitType')") X
            .field(rmaps-droppable="'streetNumSuffix'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.streetNumSuffix }")
              span(ng-show="fieldData.current.input.streetNumSuffix") {{fieldData.current.input.streetNumSuffix}}:
              span Number Suffix
              span.remove-icon(ng-show="fieldData.current.input.streetNumSuffix" ng-click="removeBaseInput('streetNumSuffix')") X
            .field(rmaps-droppable="'streetSuffix'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.streetSuffix }")
              span(ng-show="fieldData.current.input.streetSuffix") {{fieldData.current.input.streetSuffix}}:
              span Street Suffix
              span.remove-icon(ng-show="fieldData.current.input.streetSuffix" ng-click="removeBaseInput('streetSuffix')") X
        .row
          .col-md-2 Optional
          .col-md-10
            .field(rmaps-droppable="'streetDirPrefix'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.streetDirPrefix }")
              span(ng-show="fieldData.current.input.streetDirPrefix") {{fieldData.current.input.streetDirPrefix}}:
              span Direction Prefix
              span.remove-icon(ng-show="fieldData.current.input.streetDirPrefix" ng-click="removeBaseInput('streetDirPrefix')") X
            .field(rmaps-droppable="'streetDirSuffix'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.streetDirSuffix }")
              span(ng-show="fieldData.current.input.streetDirSuffix") {{fieldData.current.input.streetDirSuffix}}:
              span Direction Suffix
              span.remove-icon(ng-show="fieldData.current.input.streetDirSuffix" ng-click="removeBaseInput('streetDirSuffix')") X
            .field(rmaps-droppable="'showStreetInfo'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.showStreetInfo }")
              span(ng-show="fieldData.current.input.showStreetInfo") {{fieldData.current.input.showStreetInfo}}:
              span Show Street Info
              span.remove-icon(ng-show="fieldData.current.input.showStreetInfo" ng-click="removeBaseInput('showStreetInfo')") X
      .col-md-12.scroll(ng-show="fieldData.current.output == 'data_source_uuid'")
        .row
          .col-md-2 RealtyMaps Field
          .col-md-2 {{fieldData.current.alias}}
        .row
          .col-md-2 Batch ID
          .col-md-10
            .field(rmaps-droppable="'batchid'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.batchid }")
              span(ng-show="fieldData.current.input.batchid") {{fieldData.current.input.batchid}}:
              span Batch ID
              span.remove-icon(ng-show="fieldData.current.input.batchid" ng-click="removeBaseInput('batchid')") X
        .row
          .col-md-2 Batch Sequence (optional)
          .col-md-10
            .field(rmaps-droppable="'batchseq'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.batchseq }")
              span(ng-show="fieldData.current.input.batchseq") {{fieldData.current.input.batchseq}}:
              span Batch Sequence
              span.remove-icon(ng-show="fieldData.current.input.batchseq" ng-click="removeBaseInput('batchseq')") X

      .col-md-12.scroll(ng-show="fieldData.current.output == 'owner_name'")
        .row
          .col-md-2 RealtyMaps Field
          .col-md-2 {{fieldData.current.alias}}
        .row
          .col-md-2 Name
          .col-md-10
            .field(rmaps-droppable="'first'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.first }")
              span(ng-show="fieldData.current.input.first") {{fieldData.current.input.first}}:
              span First Name
              span.remove-icon(ng-show="fieldData.current.input.first" ng-click="removeBaseInput('first')") X
            .field(rmaps-droppable="'middle'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.middle }")
              span(ng-show="fieldData.current.input.middle") {{fieldData.current.input.middle}}:
              span Middle Name (optional)
              span.remove-icon(ng-show="fieldData.current.input.middle" ng-click="removeBaseInput('middle')") X
            .field(rmaps-droppable="'last'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.last }")
              span(ng-show="fieldData.current.input.last") {{fieldData.current.input.last}}:
              span Last Name
              span.remove-icon(ng-show="fieldData.current.input.last" ng-click="removeBaseInput('last')") X
            span.sep OR
            .field(rmaps-droppable="'full'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.full }")
              span(ng-show="fieldData.current.input.full") {{fieldData.current.input.full}}:
              span Full Name
              span.remove-icon(ng-show="fieldData.current.input.full" ng-click="removeBaseInput('full')") X

      .col-md-12.scroll(ng-show="fieldData.current.output == 'owner_name_2'")
        .row
          .col-md-2 RealtyMaps Field
          .col-md-2 {{fieldData.current.alias}}
        .row
          .col-md-2 Name
          .col-md-10
            .field(rmaps-droppable="'first'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.first }")
              span(ng-show="fieldData.current.input.first") {{fieldData.current.input.first}}:
              span First Name
              span.remove-icon(ng-show="fieldData.current.input.first" ng-click="removeBaseInput('first')") X
            .field(rmaps-droppable="'middle'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.middle }")
              span(ng-show="fieldData.current.input.middle") {{fieldData.current.input.middle}}:
              span Middle Name (optional)
              span.remove-icon(ng-show="fieldData.current.input.middle" ng-click="removeBaseInput('middle')") X
            .field(rmaps-droppable="'last'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.last }")
              span(ng-show="fieldData.current.input.last") {{fieldData.current.input.last}}:
              span Last Name
              span.remove-icon(ng-show="fieldData.current.input.last" ng-click="removeBaseInput('last')") X
            span.sep OR
            .field(rmaps-droppable="'full'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.full }")
              span(ng-show="fieldData.current.input.full") {{fieldData.current.input.full}}:
              span Full Name
              span.remove-icon(ng-show="fieldData.current.input.full" ng-click="removeBaseInput('full')") X

      .col-md-12.scroll(ng-show="fieldData.current.output == 'fips_code'")
        .row
          .col-md-2 FIPS Code
          .col-md-10
            .field(rmaps-droppable="'fipsCode'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.fipsCode }")
              span(ng-show="fieldData.current.input.fipsCode") {{fieldData.current.input.fipsCode}}:
              span FIPS Code
              span.remove-icon(ng-show="fieldData.current.input.fipsCode" ng-click="removeBaseInput('fipsCode')") X

      .col-md-12.scroll(ng-show="fieldData.current.output == 'rm_property_id'")
        .row
          .col-md-2 RealtyMaps Field
          .col-md-2 {{fieldData.current.alias}}
        .row
          .col-md-2 Fips Code and Assessor's Parcel Number
          .col-md-10
            .field(rmaps-droppable="'fipsCode'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.fipsCode }")
              span(ng-show="fieldData.current.input.fipsCode") {{fieldData.current.input.fipsCode}}:
              span Fips Code
              span.remove-icon(ng-show="fieldData.current.input.fipsCode" ng-click="removeBaseInput('fipsCode')") X
            .field(rmaps-droppable="'apn'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.apn }")
              span(ng-show="fieldData.current.input.apn") {{fieldData.current.input.apn}}:
              span APN
              span.remove-icon(ng-show="fieldData.current.input.apn" ng-click="removeBaseInput('apn')") X
        .row
          .col-md-2 Sequence Number (optional)
          .col-md-10
            .field(rmaps-droppable="'sequenceNumber'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.sequenceNumber }")
              span(ng-show="fieldData.current.input.sequenceNumber") {{fieldData.current.input.sequenceNumber}}:
              span Sequence Number
              span.remove-icon(ng-show="fieldData.current.input.sequenceNumber" ng-click="removeBaseInput('sequenceNumber')") X

      .col-md-12.scroll(ng-show="fieldData.current.output == 'year_built'")
        .row
          .col-md-2 RealtyMaps Field
          .col-md-2 {{fieldData.current.alias}}
        .row
          .col-md-2 Year or Age
          .col-md-10
            .field(rmaps-droppable="'year'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.year }")
              span(ng-show="fieldData.current.input.year") {{fieldData.current.input.year}}:
              span Year
              span.remove-icon(ng-show="fieldData.current.input.year" ng-click="removeBaseInput('year')") X
            span.sep OR
            .field(rmaps-droppable="'age'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.age }")
              span(ng-show="fieldData.current.input.age") {{fieldData.current.input.age}}:
              span Age
              span.remove-icon(ng-show="fieldData.current.input.age" ng-click="removeBaseInput('age')") X

      .col-md-12.scroll(ng-show="fieldData.current.output == 'baths'")
        .row
          .col-md-2 RealtyMaps Field
          .col-md-2 {{fieldData.current.alias}}
        .row
          .col-md-2 Baths
          .col-md-10
            .field(rmaps-droppable="'full'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.full }")
              span(ng-show="fieldData.current.input.full") {{fieldData.current.input.full}}:
              span Full
              span.remove-icon(ng-show="fieldData.current.input.full" ng-click="removeBaseInput('year')") X
            span.sep AND
            .field(rmaps-droppable="'half'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.half }")
              span(ng-show="fieldData.current.input.half") {{fieldData.current.input.half}}:
              span Half
              span.remove-icon(ng-show="fieldData.current.input.half" ng-click="removeBaseInput('half')") X
            span.sep AND
            .field(rmaps-droppable="'total'" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input.total }")
              span(ng-show="fieldData.current.input.total") {{fieldData.current.input.total}}:
              span Total
              span.remove-icon(ng-show="fieldData.current.input.total" ng-click="removeBaseInput('total')") X

      .col-md-12.scroll(ng-show="fieldData.current.type.name == 'boolean'")
        .row
          .col-md-2 Invert
          .col-md-1
            input(type="checkbox" ng-model="fieldData.current.config.invert" ng-change="updateRule()")
          .col-md-6.help Check this if the MLS 'yes' value means show (rather than hide)
        .row(ng-repeat="lookup in fieldData.current.lookups")
          .col-md-2 Truthiness for: {{lookup.LongValue}}
          .col-md-1
            label Truthy
              input(type="radio" ng-model="fieldData.current.config.truthiness[lookup.LongValue]" ng-value="true" ng-disabled="fieldData.current.config.advanced" ng-change="updateRule()")
          .col-md-1
            label Falsy
              input(type="radio" ng-model="fieldData.current.config.truthiness[lookup.LongValue]" ng-value="false" ng-disabled="fieldData.current.config.advanced" ng-change="updateRule()")

      .col-md-12.scroll(ng-show="fieldData.current.output == 'property_type'")
        .row(ng-repeat="lookup in fieldData.current.lookups")
          .col-md-2 {{lookup.LongValue}}
          .col-md-4
            select(ng-options="option for option in propertyTypeOptions" ng-model="fieldData.current.config.map[lookup.LongValue]" ng-change="updateRule()")
          .col-md-6.help Select a RealtyMaps Property Type

      .col-md-12.scroll(ng-show="fieldData.current.output == 'zoning'")
        .row(ng-repeat="lookup in fieldData.current.lookups")
          .col-md-2 {{lookup.LongValue}}
          .col-md-4
            select(ng-options="option for option in zoningOptions" ng-model="fieldData.current.config.map[lookup.LongValue]" ng-change="updateRule()")
          .col-md-6.help Select a RealtyMaps Zoning value

      .col-md-12.scroll(ng-show="fieldData.current.output == 'parcel_id'")
        .row
          .col-md-2 Strip Formatting
          .col-md-4
            input(type="checkbox" ng-model="fieldData.current.config.stripFormatting" ng-change="updateRule()")
          .col-md-6.help Special characters will be removed.

      .col-md-12.scroll(ng-show="['price','acres'].indexOf(fieldData.current.output) != -1")
        .row
          .col-md-2 Implicit Decimal Places
          .col-md-4
            input(type="number" placeholder="0" ng-model="fieldData.current.config.implicitDecimals" ng-disabled="fieldData.current.config.advanced" ng-change="updateRule()")

    // from here down applies to both base and non-base fields
    .col-md-12.typeahead.scroll(ng-if="fieldData.current.type.name == 'datetime'")
      .row
        .col-md-2 Date Format
        .col-md-4
          input(type="text" ng-model="fieldData.current.config.format" placeholder="YYYY-MM-DD[T]HH:mm:ss" ng-disabled="fieldData.current.config.advanced" ng-change="updateRule()" typeahead="format for format in dateFormats | filter:$viewValue" typeahead-min-length=0 typeahead-on-select="updateRule()")
        .col-md-6.help Date formatting, as documented #{''}
          a(href="http://momentjs.com/docs/#/parsing/string-format/", target="_blank") here

    .col-md-12.scroll
      .row.advanced
        .col-md-2
          .btn-group
            .btn.btn-primary(ng-model="fieldData.current.config.advanced" btn-radio="false" ng-change="updateRule()") Simple
            .btn.btn-primary(ng-model="fieldData.current.config.advanced" btn-radio="true" ng-change="updateRule()") Advanced
        .col-md-10
          textarea.transform(ng-model="fieldData.current.transform" ng-show="fieldData.current.config.advanced" ng-change="saveRuleDebounced()")
          textarea.transform(ng-bind="getTransform()" ng-show="!fieldData.current.config.advanced" disabled)

    .col-md-12(ng-show="fieldData.current.list == 'base'")
      .row.advanced
        .col-md-2
        .col-md-10
          textarea.inputTextarea.transform(ng-bind="JSON.stringify(fieldData.current.input,null,2)" disabled)
