.mls-container
  .row
    .col-md-6
      .row
        .col-md-12
          .mls-selection.row
            .col-md-4
              select(
                type="text"
                ng-model="mlsData.current"
                ng-options="value as value.id group by value.ready for value in idOptions | orderBy:'[+ready,+id]'"
                ng-change="updateObjectOptions(mlsData.current)")
                option(value="" disabled) Select an MLS
            .col-md-8
              button.btn.btn-primary.float-right(
                ng-click="saveMlsConfigData()"
                ng-disabled="!mlsData.current.id") Save MLS Config
              button.btn.btn-primary.float-right(
                ng-click="openCreate()") Create MLS
      .row
        .col-md-12
          include ./mls/_mls_config_panel.jade

    .col-md-6
      include ./mls/_mls_data.jade
