.mls-container
  .row
    .col-md-6
      .row
        .col-md-12
          .row
            .col-md-4
              select(type="text" ng-model="mlsData.current" ng-options="value as value.id group by value.ready for value in idOptions | orderBy:'[+ready,+id]'" ng-change="updateObjectOptions(mlsData.current)")
                option(value="" disabled) Select an MLS
            .col-md-8
              button.btn.btn-primary.float-right(ng-click="saveMlsConfigData()" ng-disabled="!mlsData.current.id") Save MLS Config
              button.btn.btn-primary.float-right(ng-click="openCreate()") Create MLS
      .row
        .col-md-12
          div(ng-hide="mlsData.current.id").config-panel
            div.select-pill Select an MLS...
          div(ng-class="{ 'fourth-opacity': !mlsData.current.id }").main-config-panel
            accordion(close-others="false")
              accordion-group(is-disabled="!mlsData.current.id")
                accordion-heading
                  div
                    span(ng-class="{ 'not-allowed': !mlsData.current.id, 'half-opacity': !mlsData.current.id }") MLS Server Info
                table
                  tr
                    td
                      label.data-label ID:
                    td(colSpan=2)
                      input(type="text" ng-model="mlsData.current.id" ng-disabled="true").form-control.input-lg
                  tr
                    td
                      label.data-label URL:
                    td(colSpan=2)
                      input(type="text" ng-model="mlsData.current.url" ng-disabled="!principal.hasPermission('change_mlsconfig_serverdata')").form-control.input-lg
                  tr
                    td
                      label.data-label Username:
                    td(colSpan=2)
                      input(type="text" ng-model="mlsData.current.username" ng-disabled="!principal.hasPermission('change_mlsconfig_serverdata')").form-control.input-lg
                  tr
                    td(colSpan=2)
                      button(ng-click="passwordModal()" ng-disabled="!principal.hasPermission('change_mlsconfig_serverdata')").btn.btn-primary Change Password

              accordion-group(is-disabled="!mlsData.current.id")
                accordion-heading
                  div
                    span(ng-class="{ 'not-allowed': !mlsData.current.id, 'half-opacity': !mlsData.current.id }") MLS Management
                table
                  tr
                    td
                      label.data-label Name:
                    td
                      input(type="text" ng-model="mlsData.current.name" ng-disabled="!principal.hasPermission('change_mlsconfig')").form-control.input-lg
                  tr
                    td
                      label.data-label Formal Name:
                    td
                      input(type="text" ng-model="mlsData.current.formal_name" ng-disabled="!principal.hasPermission('change_mlsconfig')").form-control.input-lg
                  tr
                    td
                      label.data-label Notes:
                    td
                      textarea(ng-model="mlsData.current.notes" ng-disabled="!principal.hasPermission('change_mlsconfig')").form-control.input-lg
                  tr
                    td
                      label.data-label Active:
                    td
                      input(type="checkbox" ng-model="mlsData.task.active" ng-disabled="!principal.hasPermission('change_mlsconfig') || !isReady(mlsData.current)").form-control

              accordion-group(is-disabled="!mlsData.current.id")
                accordion-heading
                  div
                    span(ng-class="{ 'not-allowed': !mlsData.current.id, 'half-opacity': !mlsData.current.id }") MLS Disclaimer
                table
                  tr
                    td
                      label.data-label DCMA Contact Name:
                    td
                      input(type="text" ng-model="mlsData.current.dcma_contact_name" ng-disabled="!principal.hasPermission('change_mlsconfig')").form-control.input-lg
                  tr
                    td
                      label.data-label DCMA Contact Address:
                    td
                      textarea(ng-model="mlsData.current.dcma_contact_address" ng-disabled="!principal.hasPermission('change_mlsconfig')").form-control.input-lg
                  tr
                    td
                      label.data-label Disclaimer Logo:
                    td(colSpan=2)
                      button(ng-click="selectIcon()" ng-disabled="!principal.hasPermission('change_mlsconfig')").btn.btn-primary Select Logo Icon

                      //- input(type="text" ng-model="mlsData.current.disclaimer_logo" ng-disabled="!principal.hasPermission('change_mlsconfig')").form-control.input-lg
                  tr
                    td
                      label.data-label Disclaimer Text:
                    td
                      textarea(ng-model="mlsData.current.disclaimer_text" ng-disabled="!principal.hasPermission('change_mlsconfig')").form-control.input-lg

              accordion-group(is-disabled="!mlsData.current.id")
                accordion-heading
                  div
                    span(ng-class="{ 'not-allowed': !mlsData.current.id, 'half-opacity': !mlsData.current.id }") Property Listings Schema
                .row
                  .col-md-12
                    table
                      tr
                        td
                          label(ng-class="{ 'half-opacity': formItems[1].disabled }").data-label Database:
                        td
                          select(
                          id="dbselect"
                          type="text"
                          ng-model="mlsData.current.listing_data.db"
                          ng-options="value.ResourceID as value.VisibleName for value in dbOptions"
                          ng-change="processAndProceed(1)"
                          ng-disabled="formItems[1].disabled")
                            option(value="" disabled)
                      tr
                        td
                          label(ng-class="{ 'half-opacity': formItems[2].disabled }").data-label Table:
                        td
                          select(
                          id="tableselect"
                          type="text"
                          ng-model="mlsData.current.listing_data.table"
                          ng-options="value.ClassName as value.VisibleName for value in tableOptions"
                          ng-change="processAndProceed(2)"
                          ng-disabled="formItems[2].disabled")
                            option(value="" disabled)
                      tr
                        td
                          label(ng-class="{ 'half-opacity': formItems[3].disabled }").data-label Update Timestamp Column:
                        td
                          select(
                          type="text"
                          ng-model="mlsData.current.listing_data.field"
                          ng-options="value.SystemName as value.LongName group by value.DataType for value in columnOptions"
                          ng-disabled="formItems[3].disabled")
                            option(value="" disabled)
                .row
                  .col-md-12
                    button(ng-click="assignConfigDefault(mlsData.current, 'listing_data');updateObjectOptions(mlsData.current)").btn.btn-success Reset to defaults

              accordion-group(is-disabled="!mlsData.current.id")
                accordion-heading
                  div
                    span(ng-class="{ 'not-allowed': !mlsData.current.id, 'half-opacity': !mlsData.current.id }") Other Configuration
                .row
                  .col-md-12
                    table.max-width
                      tr(ng-repeat="(field, default) in mlsData.configDefaults")
                        td
                          label.data-label {{ui.otherConfig[field].label}}:
                        td.pad-left
                          input(type="{{ui.otherConfig[field].type}}" ng-model="mlsData.current[field]").form-control.input-lg
                        td.pad-left
                          button(ng-click="assignConfigDefault(mlsData.current, field)" ng-disabled="mlsData.current[field] === default").btn.btn-success Assign to Default: {{ default | emptyValueOutput }}



    .col-md-6.mls-data(ng-show="mlsData.current.id")
      .progressPills(ng-show="mlsData.current.id")
        tabset(type="pills")
          tab(heading="MLS Data")
      .panel.panel-default
        .panel-body
          table.table.table-striped
            tr
              td(colSpan="2")
                button(ng-click="goNormalize()").btn.btn-success Configure MLS Fields
            tr
              td
                label.data-label ID:
              td
                span.data-entry {{mlsData.current.id}}
            tr
              td
                label.data-label Active:
              td
                span.data-entry {{mlsData.task.active}}
            tr
              td
                label.data-label Formal Name:
              td
                span.data-entry {{mlsData.current.formal_name}}
            tr
              td
                label.data-label Name:
              td
                span.data-entry {{mlsData.current.name}}
            tr
              td
                label.data-label Username:
              td
                span.data-entry {{mlsData.current.username}}
            tr
              td
                label.data-label URL:
              td
                span.data-entry {{mlsData.current.url}}
            tr
              td
                label.data-label Property Listings Schema
              td
                table.table
                  tr
                    td
                      label.data-label Database:
                    td
                      span.data-entry {{fieldNameMap.dbNames[mlsData.current.listing_data.db]}}
                  tr
                    td
                      label.data-label Table:
                    td
                      span.data-entry {{fieldNameMap.tableNames[mlsData.current.listing_data.table]}}
                  tr
                    td
                      label.data-label Update Timestamp Column:
                    td
                      span.data-entry {{fieldNameMap.columnNames[mlsData.current.listing_data.field]}}
            tr
              td
                label.data-label Objects:
              td
                span.data-entry {{fieldNameMap.objects}}
            tr
              td
                label.data-label DCMA Contact Name:
              td
                span.data-entry {{mlsData.current.dcma_contact_name}}
            tr
              td
                label.data-label DCMA Contact Address:
              td
                span.data-entry {{mlsData.current.dcma_contact_address}}
            tr
              td
                label.data-label Disclaimer Logo:
              td
                div(ng-show="mlsData.current.disclaimer_logo")
                  .data-entry {{mlsData.current.disclaimer_logo}}
                  img.mls-icon(ng-src="/assets/mlsicons/{{mlsData.current.disclaimer_logo}}")
            tr
              td
                label.data-label Disclaimer Text:
              td
                span.data-entry {{mlsData.current.disclaimer_text}}

            tr
              td
                label.data-label Notes:
              td
                span.data-entry {{mlsData.current.notes}}

            tr(ng-show="hasAllDefaultOtherConfig()").config-tr
              td(colspan=2)
                label.data-label Using default value for all other configuration options.

            tr(ng-hide="hasAllDefaultOtherConfig()").config-tr
              td(colspan=2)
                label.data-label Using default value for all configuration options&nbsp;
                  i except
                  | :


            tr(ng-repeat="(field, default) in mlsData.configDefaults" ng-show="mlsData.current[field] != default")
              td
                label.data-label {{ui.otherConfig[field].label}}:
              td
                span.data-entry {{mlsData.current[field] | emptyValueOutput }}
