section.white-page.onboarding.onboarding-plan(ng-cloak)
  .container
    div(ng-if="user.plan.name === 'pro'")
      h2 Select your MLS
      p Please select your MLS to be associated with your MLS identification for verification purposes. Once verified you will have access to all MLS data for your your MLS.
      p If you select an unsupported MLS you will have access to all our county data. This is essentially the "standard" plan, and you will have a trial according to that plan.
        | Once your MLS is supported your plan will be upgraded back to pro with a one month free trial of the "pro" plan.
      
        form.form-horizontal(role='form' name='userForm')
          .form-payment
            .row
              .col-md-8.col-sm-8.col-xs-11
                .form-group
                  .label State:
                  .col-md-8.col-sm-8.col-xs-11
                    select.form-control(ng-model="user.us_state_code" validator="required" name="userStateCode")
                      option(
                        ng-repeat="entity in us_states"
                        ng-selected="{{entity.code == user.us_state}}"
                        value="{{entity.code}}") {{entity.code}} - {{entity.name}} {{entity.full_name}}
            .row
              .col-md-8.col-sm-8.col-xs-11(ng-if="supportedMlsCodes")
                .form-group
                  .label Show Supported MLS:
                  .col-lg-12
                    input(type="checkbox" ng-model="supportedMLS.show" ng-change="supportedMLS.change()")
            .row  
              .col-md-8.col-sm-8.col-xs-11(ng-if="!supportedMLS.show && supportedMlsCodes")
                .form-group
                  .label All MLS:
                  .col-md-8.col-sm-8.col-xs-11
                    select.form-control(ng-model="user.mls_code" validator="required" name="userMlsCode")
                      option(
                        ng-repeat="entity in mlsCodes"
                        ng-selected="{{entity.mls == user.mls_code}}"
                        value="{{entity.mls}}") {{entity.mls}} - {{entity.full_name}}
                
              .col-md-8.col-sm-8.col-xs-11(ng-if="supportedMLS.show && supportedMlsCodes")
                .form-group
                  .label Supported MLS:
                  .col-md-8.col-sm-8.col-xs-11
                    select.form-control(ng-model="user.mls_code" validator="required" name="userMlsCode")
                      option(
                        ng-repeat="entity in supportedMlsCodes"
                        ng-selected="{{entity.mls == user.mls_code}}"
                        value="{{entity.mls}}") {{entity.mls}} - {{entity.full_name}}
                        
            .row(ng-show="user.mls_code")
              .col-md-8.col-sm-8.col-xs-11
                .form-group
                  .label Your MLS ID:
                  .col-md-8.col-sm-8.col-xs-11
                    input.form-control(name="mls_id" ng-model="user.mls_id" type='text' validator="required,minlength=2")
                          
            .row(ng-show="user.mls_code && user.mls_id")
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  .col-md-3
                    input.btn.btn-primary(ng-value='doneButton.getText()' ng-attr-title='doneButton.getTitle()'
                    type='button' ng-click="user.submit()" validation-submit="userForm")
                    
    div(ng-if="user.plan.name === 'standard'")
      h2 Select your state and county
      p Maecenas eu placerat ante. Fusce ut neque justo, et aliquet enim. In hac habitasse platea dictumst. Nullam commodo neque erat, vitae facilisis erat. Cras at mauris ut tortor vestibulum fringilla vel sed metus.
      
        form.form-horizontal(role='form' name='userForm')
          .form-payment
            .row
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  .label State:
                  .col-lg-6
                    select.form-control(ng-model="user.us_state_code" validator="required" name="userStateCode")
                      option(
                        ng-repeat="entity in us_states"
                        ng-selected="{{entity.code == user.us_state}}"
                        value="{{entity.code}}") {{entity.code}} - {{entity.name}}
                
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  .label County:
                  .col-lg-6
                    select.form-control(ng-model="user.fips_code" validator="required" name="userFipsCode")
                      option(
                        ng-repeat="entity in counties"
                        ng-selected="{{entity.fips_code == user.fips_code}}"
                        value="{{entity.fips_code}}") {{entity.county}} - {{entity.fips_code}}
            .row
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  .col-md-3
                    input.btn.btn-primary(value='Done' type='button' ng-click="user.submit()" validation-submit="userForm")
              
