section.white-page.onboarding.onboarding-user.plan.ng-cloak
  .container
      h1.page-header Welcome!

      h2 Select your plan
      p Proin ornare ligula eu tellus tempus elementum. Aenean bibendum iaculis mi, nec blandit lacus interdum vitae.

      .row
        .col-md-6.col-sm-6.col-xs-12
          p Standard
          p Eum admodum conceptam sententiae ea. Sea sint nibh impedit ex, sea ea elitr possim vulputate. Dicat oratio qualisque ei nec, vix erat constituam in. Probatus imperdiet ullamcorper in quo, eos impetus voluptua assentior no. Ius te delenit gubergren, pro ne alia feugiat salutatus.
          p Price: {{view.user.plan.standard.priceFormatted}}
          button.btn.btn-primary(
            ng-click="user.plan.set('standard')"
            ng-bind="user.plan.getSelected('standard')"
          )
        .col-md-6.col-sm-6.col-xs-12
          p Pro
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac magna non augue porttitor scelerisque ac id diam. Mauris elit velit, lobortis sed interdum at, vestibulum vitae libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac magna non augue porttitor scelerisque ac id diam. Mauris elit velit, lobortis sed interdum at, vestibulum vitae libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          p Price: {{view.user.plan.pro.priceFormatted}}
          button.btn.btn-primary(
            ng-click="user.plan.set('pro')"
            ng-bind="user.plan.getSelected('pro')"
          )
      .row
        h2 Sign up to start your free month
        p Create your account

        form.form-horizontal(role='form' name='userForm')
          .form-plan
            .row
              .col-md-12.col-sm-12.col-xs-12
                .form-group
                  .label Email:
                  .col-lg-3
                    input.form-control(
                      ng-if="!safeConfig.EMAIL_VERIFY.RESTRICT_TO_OUR_DOMAIN"
                      name="email"
                      ng-model="user.email"
                      type='text'
                      validator="email,required,checkUniqueEmail=disableAlert")
                    input.form-control(
                      ng-if="safeConfig.EMAIL_VERIFY.RESTRICT_TO_OUR_DOMAIN"
                      name="email"
                      ng-model="user.email"
                      type='text'
                      validator="email,realtymapsEmail,required,checkUniqueEmail=disableAlert")
                .form-group
                  .label Password:
                  .col-md-3
                    input.form-control(name="password" ng-change="user.passwordChange()" ng-model="user.password" type='password' validator="password")
                .form-group
                  .label Confirm password:
                  .col-md-3
                    input.form-control(name="confirmPassword" ng-change="user.passwordChange()" ng-model="user.confirmPassword" type='password' validator="password")
                .form-group
                  .label
                  .col-md-3
                    span(ng-if="pass.errorMsg")
                      .label.has-error() {{pass.errorMsg}}
            .row
              .form-group
                .col-md-12.col-sm-12.col-xs-12
                  .col-md-3
                    input.btn.btn-primary(
                      value='Continue' type='button' ng-click="user.submit()" validation-submit="userForm")
