section.white-page.onboarding.onboarding-plan.text-wrap(ng-cloak)
  .container
      h2 Get Verified
      p Nullam eros mi, mollis in sollicitudin non, tincidunt sed enim. Sed et felis metus, rhoncus ornare nibh. Ut at magna leo. Suspendisse egestas est ac dolor imperdiet pretium. 
      
      form.form-horizontal(role='form' name='userForm')
        .form-payment
          .row
            .col-md-6.col-sm-6.col-xs-12
              .form-group
                .label Your MLS ID:
                .col-lg-3
                  input.form-control(
                    name="mls_id"
                    ng-model="user.mls_id"
                    type='text'
                    validator="required,minlength=2")
  
          .row
            .col-md-6.col-sm-6.col-xs-12
              .form-group
                .col-md-3
                  input.btn.btn-primary(
                    value='Submit' type='button' ng-click="user.submit()" validation-submit="userForm")
        
              
