section.white-page.onboarding.onboarding-user.plan.ng-cloak(ng-if="safeConfig.SIGNUP_ENABLED")
  .container
      h1.page-header Welcome!

      h2 Select your plan
      br
      br

      .row
        .col-md-6.col-sm-6.col-xs-12
          h3.plan-name Standard
          p This plan allows you to see tax and deed data for properties in your county and adjacent counties.
          p.price Price: {{view.plans.standard.metadata.priceFormatted}} per {{view.plans.standard.metadata.interval}}
          button.btn.btn-primary(
            ng-click="user.plan.set(subscriptionConfig.PLAN.STANDARD)"
            ng-bind="user.plan.getSelected(subscriptionConfig.PLAN.STANDARD)"
          )
        .col-md-6.col-sm-6.col-xs-12
          h3.plan-name Pro
          p This plan allows you to view all tax, deed and mls data. MLS data is dependent on what MLS'es are valid from your NRS Id.
          p.price Price: {{view.plans.pro.metadata.priceFormatted}} per {{view.plans.standard.metadata.interval}}
          button.btn.btn-primary(
            ng-click="user.plan.set(subscriptionConfig.PLAN.PRO)"
            ng-bind="user.plan.getSelected(subscriptionConfig.PLAN.PRO)"
          )
      .row
        h2 Sign up to start your free month
        p Create your account

        form.form-horizontal(role='form' name='userForm')
          .form-plan
            .row
              .col-md-12.col-sm-12.col-xs-12
                .form-group
                  .label Email:
                  .col-lg-3
                    input.form-control(
                      ng-if="!safeConfig.EMAIL_VERIFY.RESTRICT_TO_OUR_DOMAIN"
                      name="email"
                      ng-model="user.email"
                      type='text'
                      validator="email,required,checkUniqueEmail=disableAlert")
                    input.form-control(
                      ng-if="safeConfig.EMAIL_VERIFY.RESTRICT_TO_OUR_DOMAIN"
                      name="email"
                      ng-model="user.email"
                      type='text'
                      validator="email,realtymapsEmail,required,checkUniqueEmail=disableAlert")
                .form-group
                  .label Password:
                  .col-md-3
                    input.form-control(name="password" ng-model="user.password" type='password' validator="password")
                .form-group
                  .label Confirm password:
                  .col-md-3
                    input.form-control(name="confirmPassword" ng-model="user.confirmPassword" type='password' validator="confirmPassword=user.password")
                .form-group
                  .label
                  .col-md-3
                    span(ng-if="pass.errorMsg")
                      .label.has-error() {{pass.errorMsg}}
            .row
              .form-group
                .col-md-12.col-sm-12.col-xs-12
                  .col-md-3
                    input.btn.btn-primary(
                      value='Continue' type='button' ng-click="user.submit()" validation-submit="userForm")
