section.white-page.onboarding.onboarding-payment(ng-cloak)
  .container
      h2 Payment Details
      p Please enter your payment details below to complete the subscription process.
      |Note your will not be charged until 
      strong after&nbsp; 
      |&nbsp;your trial period 
      strong ends!
      p
      p
      .row
        form.form-horizontal(role='form' name='chargeForm')
          .form-payment
            .container
              .row
                .col-md-3.col-sm-3.col-xs-12
                  .form-group.form-field
                    .label(for="first_name") First Name:
                      input.form-control(
                        tabindex=1
                        valid-method="'blur'"
                        name="first_name"
                        ng-model="user.first_name"
                        type='text'
                        validator="required,minlength=2")
                  
                  .form-group.form-field(ng-class="view.submittalClass")
                    .label(for="card_number") Card Number:
                      input.card-number-input.form-control(
                        tabindex=3
                        ng-model="user.card.number"
                        name="card_number"
                        type="tel"
                        x-autocompletetype="cc-number"
                        autocompletetype="cc-number"
                        autocorrect="off"
                        spellcheck="off"
                        autocapitalize="off"
                        cc-number
                        cc-type="user.card.type"
                        cc-eager-type
                        placeholder="XXXX-XXXX-XXXX-XXXX")
                      span.card(
                        ng-show="chargeForm.card_number.$ccEagerType && chargeForm.card_number.$viewValue"
                        ng-class="view.getCardClass(chargeForm.card_number.$ccEagerType)")
                      span(ng-show="chargeForm.card_number.$invalid && chargeForm.card_number.$viewValue")
                        label.control-label.has-error() Invalid Credit Card
                      span(ng-show="view.doShowRequired(chargeForm.card_number, chargeForm)")
                        label.control-label.has-error() Required!!
                        
                  .form-group.form-field(ng-class="view.submittalClass")
                    .label(for="card_exp_month") Exp Month:
                    .col-md-4
                      input.form-control(
                        type="text"
                        name="card_exp_month"
                        tabindex=5
                        placeholder="MM"
                        ng-model="user.card.exp_month"
                        cc-exp-month)
                      span(ng-show="view.doShowRequired(chargeForm.card_exp_month, chargeForm)")
                        label.control-label.has-error() Required!!
                      span(ng-show="chargeForm.card_exp_month.$invalid && chargeForm.card_exp_month.$viewValue")
                        label.control-label.has-error() Invalid Credit Card Month

                  .form-group.form-field
                    .label Zip:
                    .col-md-5
                      input.form-control(
                        tabindex=7
                        ng-model="user.zip"
                        name="zip"
                        type='text'
                        placeholder="XXXXX"
                        validator="required,zipcode")
                        
                .col-md-3.col-sm-3.col-xs-12
                  .form-group.form-field
                    .label Last Name:
                      input.form-control(
                        tabindex=2
                        name="last_name"
                        ng-model="user.last_name"
                        type='text'
                        validator="required,minlength=2")
                        
                  .form-group.form-field(ng-class="view.submittalClass")
                    .label.col-lg-4(for="card_cvc") Security Code:
                      input.form-control(
                        tabindex=4
                        ng-model="user.card.cvc"
                        type='text'
                        cc-cvc
                        cc-type="chargeForm.card_number.$ccType"
                        placeholder="CVC"
                        name="card_cvc")
                      span(ng-show="view.doShowRequired(chargeForm.card_cvc, chargeForm)")
                        label.control-label.has-error() Required!!
                      span(ng-show="chargeForm.card_cvc.$invalid && chargeForm.card_cvc.$viewValue")
                        label.control-label.has-error() Invalid CVC
                  
                  .form-group.form-field(ng-class="view.submittalClass")
                    .label.col-md-5(for="card_exp_year") Exp Year:
                      input.form-control(
                        tabindex=6
                        name="card_exp_year"
                        type='text'
                        placeholder="YYYY"
                        ng-model="user.card.exp_year"
                        cc-exp-year
                        full-year)
                      span(ng-show="chargeForm.card_exp_month.$touched && chargeForm.card_exp_year.$invalid && !chargeForm.card_exp_year.$viewValue")
                        label.control-label.has-error() Required!!
                      span(ng-show="chargeForm.card_exp_year.$invalid && chargeForm.card_exp_year.$viewValue")
                        label.control-label.has-error() Invalid Credit Card Year
              .row
                .form-group
                  .col-md-3.col-sm-3.col-xs-12
                    .col-md-3
                      input.btn.btn-primary(
                        tabindex=8
                        value='Continue' type='button' ng-click="charge()" validation-submit="chargeForm")            
                      
