form.note(name="createEditNeighbourhoodForm")
  .modal-header
    h3.modal-title(ng-if="!model.properties.neighbourhood_name") Make Shape a Neighbourhood
    h3.modal-title(ng-if="model.properties.neighbourhood_name") Edit Neighbourhood
  .modal-body
    .form-group
      label(for="neighbourhood_name") Name
      input.form-control(
        placeholder="Type Neighbourhood name here."
        type="text" 
        name="title"
        ng-model="model.properties.neighbourhood_name"
        validator="optMinlength=2")
      //- label(for="neighbourhood_details") Details
      //- textarea.form-control(cols="25" rows="10"
      //-   placeholder="Fill in your neighbourhood details/description here. (Optional)"
      //-   name="text"
      //-   ng-model="model.properties.neighbourhood_details"
      //-   validator="optMaxlength=150")

  .modal-footer
    button.btn.btn-default(type="reset" ng-click="cancel()" validation-reset="createEditNeighbourhoodForm") Cancel
    button.btn.btn-primary(type="submit" ng-click="save()" validation-submit="createEditNeighbourhoodForm") Save
