form.note(name="createEditNoteForm")
  .modal-header
    h3.modal-title(ng-if="!model.id") Create Note
    h3.modal-title(ng-if="model.id") Edit Note
  .modal-body
    .form-group
      label(for="title") Title
      input.form-control(
        placeholder="Type note title here."
        type="text"
        name="title"
        ng-model="model.title")
      label(for="text") Context
      textarea.form-control(cols="25" rows="10"
        placeholder="Fill in your note details here."
        name="text"
        type="text"
        ng-model="model.text"
        validator="required,minlength=10")

  .modal-footer
    button.btn.btn-default(type="reset" ng-click="cancel()" validation-reset="createEditNoteForm") Cancel
    button.btn.btn-primary(type="submit" ng-click="save()" validation-submit="createEditNoteForm") Save
