form.note(name="createEditNoteForm")
  .modal-header
    h3.modal-title(ng-if="!model.id") Leave a Note
    h3.modal-title(ng-if="model.id") Edit Note
  .modal-body
    .form-group
      label {{formatters.property.getFullAddress(property)}}
      textarea.form-control(cols="25" rows="5"
        placeholder="Add a note about this property"
        name="text"
        type="text"
        ng-model="model.text"
        validator="required,minlength=1")

  .modal-footer
    button.btn.btn-default(type="reset" ng-click="cancel()" validation-reset="createEditNoteForm") Cancel
    button.btn.btn-primary(type="submit" ng-click="save()" validation-submit="createEditNoteForm") Save
