form(role="form" name="selectTemplateForm")
  .mail-wizard-steps
    header.send-progress(ng-hide="hideProgress()")
      button.btn.btn-default.pull-left(
        ng-click="prevStep()"
        ng-hide="hideBackButton()") Back
      button.btn.btn-primary.pull-right(
        ng-click="nextStep(wizard.mail.getCategory()=='pdf'?2:1)"
        ng-hide="hideNextButton()"
        ng-disabled="!(wizard.mail.campaign.template_type || wizard.mail.campaign.aws_key)") Next
      div.pathway
        ul
          li
            span Recipients
          li
            span Campaign Info
          li.active
            span Select Template
          li
            span Edit Template
          li
            span Review

  .select-template
    .inner
      .container
        .pdf-upload
          .file-select.btn.btn-primary
            span Upload A PDF
            input.upload(type="file" ngf-select="uploadFile($file, $invalidFiles)" ngf-accept="'application/pdf'" ng-model="uploadfile")

          .file-progress
            .file-progress-indicator.progress(ng-show="f.progress > 0" ng-class="{'done-fade': sentFile}")
              .file-upload-bar(style="width:{{f.progress}}%")
              .progress-text(ng-show="f.progress > 0 && f.progress < 100") {{f.progress}}%
              .progress-text(ng-show="f.progress >= 100") Complete!

        h1.pageTitle Select A Template

        .filters
          span(ng-repeat="category in categories")
            button.btn.btn-filter(ng-click="setCategory(category[0])" ng-class="{ 'active': displayCategory == category[0]}") {{category[1]}}
        .row
          ul.tmpl-list
            li.col-md-3(ng-show="isEmptyCategory()")
              .no-tmpl There are no items to view here.
            li.col-md-2(ng-repeat="template in categoryLists[displayCategory]")
              .tmpl-item(ng-mouseenter="hovered = $index" ng-mouseleave="hovered = -1")
                .tmpl-data
                  h3.tmpl-title {{template.name}}
                  img.tmpl-image(rmaps-cdn-image ng-src="{{template.thumb}}" ng-class="{'selected':wizard.mail.campaign.template_type == template.type}" ng-click="selectTemplate($index)")
                  .delete-button(ng-show="template.category == 'pdf' && hovered == $index" ng-click="deletePdf(template)")
              .btn(ng-click="previewTemplate(template)") Preview
