mixin drawToolMixin(drawToolId, h4, toggleBoolean, toggleFn, ctrl, directiveNgShow, tackFn, tackedBool)
  //.desktop-only TODO (wont show)
  //hint if you want only drawings to show sometimes use ng-if (will kill controller)
  .draw-tools.container(ng-show="#{toggleBoolean}")&attributes(attributes)
    .row(ng-controller="#{ctrl}")
      .col.col-md-3.col-sm-3.col-xs-3
        h4 #{h4}

      .col.col-md-6.col-sm-6.col-xs-3
        .tools()
          if directiveNgShow
            div(ng-if="draw.ready")
              div.rmaps-leaflet-draw(
                id="#{drawToolId}"
                mapPromise="draw.mapPromise"
                options="draw.leafletDrawOptions"
                events="draw.leafletDrawEvents"
                enabled="draw.enabled"
                ng-show="#{directiveNgShow}")
          else
            div(ng-if="draw.ready")
              div.rmaps-leaflet-draw(
                id="#{drawToolId}"
                mapPromise="draw.mapPromise"
                options="draw.leafletDrawOptions"
                events="draw.leafletDrawEvents"
                enabled="draw.enabled")

      .col.col-md-3.col-sm-3.col-xs-3.last-col
        span.pull-right.draw-toolbar-close(ng-click="#{toggleFn}")
          i.icon.icon-close
        if tackFn
          span.checkbox.pull-right.draw-toolbar-tack
            label
              <input type="checkbox" ng-click="#{tackFn}" ng-model="#{tackedBool}"> Keep toolbar open
