mixin drawToolMixin(obj)
  - var drawToolId = obj.drawToolId
  - var header = obj.header
  - var toggleBoolean = obj.toggleBoolean
  - var toggleFn = obj.toggleFn
  - var ctrl = obj.ctrl
  - var directiveNgShow = obj.directiveNgShow
  - var tackFn = obj.tackFn
  - var tackedBool = obj.tackedBool
  //.desktop-only TODO (wont show)
  //hint if you want only drawings to show sometimes use ng-if (will kill controller)
  .draw-tools.container(ng-show="#{toggleBoolean}")&attributes(attributes)
    .row(ng-controller="#{ctrl}")
      .col.col-md-3.col-sm-3.col-xs-3
        h4 #{header}

      .col.col-md-6.col-sm-6.col-xs-3
        .tools()
          if directiveNgShow
            div(ng-if="draw.ready")
              div.rmaps-leaflet-draw(
                id="#{drawToolId}"
                mapPromise="draw.mapPromise"
                options="draw.leafletDrawOptions"
                events="draw.leafletDrawEvents"
                enabled="draw.enabled"
                ng-show="#{directiveNgShow}")
          else
            div(ng-if="draw.ready")
              div.rmaps-leaflet-draw(
                id="#{drawToolId}"
                mapPromise="draw.mapPromise"
                options="draw.leafletDrawOptions"
                events="draw.leafletDrawEvents"
                enabled="draw.enabled")

      .col.col-md-3.col-sm-3.col-xs-3.last-col
        span.pull-right.draw-toolbar-close(ng-click="#{toggleFn}")
          i.icon.icon-close
        if tackFn
          span.checkbox.pull-right.draw-toolbar-tack
            label
              // note not using ng-model as we can not use functions in ng-model
              <input type="checkbox" ng-click="#{tackFn}" checked="#{tackedBool}" > Keep toolbar open
