div.normalize-container

div.row Select MLS:
  select(ng-model="mlsData.current" ng-options="value.name + ' (' + value.id + ')' for value in mlsConfigs" ng-change="selectMls()")
    option(value="" disabled)

div.row.panel
  ul.field-container(
    data-drop="true"
    jqyoui-droppable=""
    data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=columns])'}")
    li.field.btn.btn-info.btn-draggable(
      data-drag="true"
      data-jqyoui-options="{revert: 'invalid'}"
      jqyoui-draggable="{index: {{$index}}, placeholder: true, animate: true}"
      ng-repeat="item in columns track by item.MetadataEntryID"
      ng-model="columns") {{item.SystemName}}

  ul.category-container.btn.btn-danger(
    data-drop="true"
    jqyoui-droppable=""
    data-jqyoui-options="{multiple: true}"
    ng-repeat="category in categories track by category.label") {{ category.label }}
    li.field.btn.btn-info.btn-draggable(
      data-drag="true"
      data-jqyoui-options="{revert: 'invalid'}"
      jqyoui-draggable="{index: {{$index}}, placeholder: false, animate: true}"
      ng-repeat="item in category.items track by item.MetadataEntryID"
      ng-model="category.items") {{item.SystemName}}
