div.normalize-container

  div.row.mls-select
    div.col-md-12 Select MLS
      select(ng-model="mlsData.current" ng-options="value.name + ' (' + value.id + ')' for value in mlsConfigs" ng-change="selectMls()")
        option(value="" disabled)

  div.row.panel(ng-show="columns.length")
    div.col-md-12
      h4 Group Assignment
    div.col-md-4.col-xs-2.field-container(rmaps-droppable="columns" on-drop="onDrop")
      div.field(
      ng-click="selectField(item)"
      rmaps-draggable="item" rmaps-draggable-collection="columns"
      ng-repeat="item in columns track by item.MetadataEntryID ") {{item.LongName}}
        span.datatype(ng-class="{ 'datatype-string': item.DataType == 'Character', \
         'datatype-number': item.Interpretation == 'Number', \
         'datatype-yn': item.DataType == 'Boolean', \
         'datatype-date': item.DataType == 'DateTime' }")

    div.col-md-8.col-xs-10.category-container
      div.category(
      rmaps-droppable="category.items" on-drop="onDrop"
      ng-repeat="category in categories track by category.label") {{ category.label }}
        div.field(
        ng-click="selectField(item)"
        rmaps-draggable="item" rmaps-draggable-collection="category.items"
        ng-repeat="item in category.items track by item.MetadataEntryID") {{item.LongName}}


  div.row.panel.properties-container(ng-show="fieldData.current.SystemName")
    div.col-md-12
      h4 Field Validation
      div.row
        div.col-md-3 Long name:
        div.col-md-9 {{fieldData.current.LongName}}
      div.row
        div.col-md-3 System name:
        div.col-md-9 {{fieldData.current.SystemName}}
      div.row
        div.col-md-3 Data Type:
        div.col-md-9 {{fieldData.current.DataType}}
      div.row
        div.col-md-3 Interpretation:
        div.col-md-9 {{fieldData.current.Interpretation}}
      div.row
        div.col-md-3 Alias:
        div.col-md-9
          input(type="text" ng-model="fieldData.current.vOptions.alias" ng-change="getTransform()")
      div(ng-show="fieldData.current.Interpretation == 'Number'")
        div.row
          div.col-md-3 0 (zero) counts as null
          div.col-md-9
            input(type="checkbox" ng-model="fieldData.current.vOptions.nullZero" ng-change="getTransform()")
        div.row
          div.col-md-3 Specific value counts as null
          div.col-md-9
            input(type="text" ng-model="fieldData.current.vOptions.nullNumber" placeholder="example: -1" ng-change="getTransform()")
        div.row(ng-show="fieldData.current.DataType == 'Decimal'")
          div.col-md-3 Round / truncate decimal
          div.col-md-9
            input(type="checkbox" ng-model="fieldData.current.vOptions.floorDecimal" ng-change="getTransform()")
      div(ng-show="fieldData.current.DataType == 'Character'")
        div.row
          div.col-md-3 Empty counts as null
          div.col-md-9
            input(type="checkbox" ng-model="fieldData.current.vOptions.nullEmpty" ng-change="getTransform()")
        div.row
          div.col-md-3 Specific value(s) count as null
          div.col-md-9
            input(type="text" ng-model="fieldData.current.vOptions.nullString" rmaps-list-input placeholder="no, false, n/a" ng-change="getTransform()")
        div.row
          div.col-md-3 Transform
          div.col-md-9
            select(ng-model="fieldData.current.vOptions.transformString" ng-options="option.value as option.label for option in transformOptions" ng-change="getTransform()")
        div.row(ng-show="fieldData.current.lookups")
          div.col-md-3 Replace values with RealtyMaps values (Lookup)
          div.col-md-9
        div.row(ng-repeat="lookup in fieldData.current.lookups")
          div.col-md-3 {{lookup.LongValue}} ({{lookup.ShortValue}})
          div.col-md-9
            input(type="text" placeholder="realtymaps value" ng-model="fieldData.current.vOptions.mapString[lookup.ShortValue]" ng-change="getTransform()")

    div.col-md-12
      h4 Field Transform
      div.row
        div.col-md-3 Enable editing (advanced)
        div.col-md-9
          input(type="checkbox" ng-model="fieldData.current.advanced" ng-change="getTransform()")
      div.row
        div.col-md-12
          textarea.transform(ng-model="fieldData.current.transform" ng-disabled="!fieldData.current.advanced")

