div.normalize-container

  div.row.mls-select
    div.col-md-12 Select MLS
      select(ng-model="mlsData.current" ng-options="value.name + ' (' + value.id + ')' for value in mlsConfigs" ng-change="selectMls()")
        option(value="" disabled)

  div.row.panel(cg-busy="mlsLoading" ng-show="mlsData.current")
    div.col-md-2.list-container
      h4 Required
      div.field-container(cg-busy="baseLoading")
        div.field.base(
        ng-class="{ invalid: !item.valid }"
        ng-click="selectField(item)"
        ng-repeat="item in categories.base") {{item.alias}}

    div.col-md-2.list-container
      h4 MLS
      div.field-container(
      rmaps-droppable="categories.unassigned" on-drop="onDropCategory")
        div.field(
        ng-class="{ 'assigned': item.assigned }"
        ng-click="selectField(item)"
        rmaps-draggable="item" rmaps-draggable-collection="categories.unassigned"
        ng-repeat="item in categories.unassigned") {{item.output}}
          span.datatype(ng-class="{ 'datatype-string': item.DataType == 'Character', \
           'datatype-number': item.Interpretation == 'Number', \
           'datatype-yn': item.DataType == 'Boolean', \
           'datatype-date': item.DataType == 'DateTime' }"
           ng-show="item.DataType || item.Interpretation")

    div.col-md-8.list-container
      h4 Groups
      div.field-container
        div.category(
        rmaps-droppable="category.items" on-drop="onDropCategory"
        ng-repeat="category in targetCategories | filter:{label:'!base'} | filter:{label:'!unassigned'}") {{ category.label }}
          div.field-list
            div.field(
            ng-class="{ 'assigned': item.assigned, base: item.unselectable }"
            ng-click="item.unselectable || selectField(item)"
            rmaps-draggable="item" rmaps-draggable-collection="category.items"
            ng-repeat="item in category.items")
              span(ng-show="!item.unselectable") {{item.output}}
              span(ng-show="item.unselectable") {{item.alias}}
              span.datatype(ng-class="{ 'datatype-string': item.DataType == 'Character', \
               'datatype-number': item.Interpretation == 'Number', \
               'datatype-yn': item.DataType == 'Boolean', \
               'datatype-date': item.DataType == 'DateTime' }"
               ng-show="item.DataType || item.Interpretation")

  div.row.panel.properties-container(cg-busy="fieldLoading" ng-show="showProperties")
    div.close-icon(ng-click="showProperties=false") X
    div.col-md-12(ng-show="fieldData.current.list != 'base'")
      h4 Field Validation
      div.row
        div.col-md-3 RETS Name:
        div.col-md-9 {{fieldData.current.output}}
      div.row
        div.col-md-3 Data Type:
        div.col-md-9 {{fieldData.current.type.label}}
      div.row
        div.col-md-3 Alias:
        div.col-md-9
          input(type="text" ng-model="fieldData.current.config.alias" ng-change="updateRule()")
      div(ng-show="fieldData.current.Interpretation == 'Number'")
        div.row
          div.col-md-3 0 (zero) counts as null
          div.col-md-3
            input(type="checkbox" ng-model="fieldData.current.config.nullZero" ng-change="updateRule()")
          div.col-md-6
            Pick the right value!
        div.row
          div.col-md-3 Specific value counts as null
          div.col-md-3
            input(type="text" ng-model="fieldData.current.config.nullNumber" placeholder="example: -1" ng-change="updateRule()")
          div.col-md-6
            Pick the right value!
        div.row(ng-show="fieldData.current.DataType == 'Decimal'")
          div.col-md-3 Round / truncate decimal
          div.col-md-3
            input(type="checkbox" ng-model="fieldData.current.config.floorDecimal" ng-change="updateRule()")
          div.col-md-6
            Pick the right value!
      div(ng-show="fieldData.current.DataType == 'Character'")
        div.row
          div.col-md-3 Empty counts as null
          div.col-md-9
            input(type="checkbox" ng-model="fieldData.current.config.nullEmpty" ng-change="updateRule()")
        div.row
          div.col-md-3 Specific value(s) count as null
          div.col-md-9
            input(type="text" ng-model="fieldData.current.config.nullString" rmaps-list-input placeholder="no, false, n/a" ng-change="updateRule()")
        div.row
          div.col-md-3 Transform
          div.col-md-9
            select(ng-model="fieldData.current.config.transformString" ng-options="v as k for (k, v) in transformOptions" ng-change="updateRule()")
              option(value="") None
        div.row(ng-show="fieldData.current.lookups")
          div.col-md-3 Replace values with RealtyMaps values (Lookup)
          div.col-md-9
        div.row(ng-repeat="lookup in fieldData.current.lookups")
          div.col-md-3 {{lookup.LongValue}}
          div.col-md-9
            input(type="text" placeholder="Display value" ng-model="fieldData.current.config.choices[lookup.LongValue]" ng-change="updateRule()")
    div.col-md-12(ng-show="fieldData.current.list == 'base'")
      h4 RealtyMaps {{fieldData.current.alias}}

      div(ng-show="fieldData.current.output == 'address'")
        div This field is shown to users within property details.
        div.invalid-message(ng-show="!fieldData.current.valid") Select City and State. Select Zip or Zip+4. Select Full address or Street name + number.
        div.field(ng-repeat="option in addressOptions"
          rmaps-droppable="option.key" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input[option.key] }")
          span(ng-show="fieldData.current.input[option.key]") {{fieldData.current.input[option.key]}}:
          span {{option.label}}
          span.remove-icon(ng-show="fieldData.current.input[option.key]" ng-click="removeBaseInput(option.key)") X

      div(ng-show="fieldData.current.output == 'status_display'")
        div This field is shown to users within property details. MLS values may be replaced if they would be confusing.
        div.field(rmaps-droppable="'input'" on-drop="onDropBase" ng-class="{ empty: !fieldData.current.input }")
          span(ng-show="fieldData.current.input") {{fieldData.current.input}}:
          span {{fieldData.current.alias}}
          span.remove-icon(ng-show="fieldData.current.input" ng-click="removeBase()") X
        div.row(ng-repeat="lookup in fieldData.current.lookups")
          div.col-md-3 {{lookup.LongValue}}
          div.col-md-9
            input(type="text" placeholder="Display value" ng-model="fieldData.current.config.choices[lookup.LongValue]" ng-change="updateRule()")

      div(ng-show="fieldData.current.output == 'status'")
        div This field is made available for filtering/searching.
        div.field(rmaps-droppable="'input'" on-drop="onDropBase" ng-class="{ empty: !fieldData.current.input }")
          span(ng-show="fieldData.current.input") {{fieldData.current.input}}:
          span {{fieldData.current.alias}}
          span.remove-icon(ng-show="fieldData.current.input" ng-click="removeBase()") X
        div.row(ng-repeat="lookup in fieldData.current.lookups")
          div.col-md-3 {{lookup.LongValue}}
          div.col-md-9
            select(ng-options="option for option in statusOptions" ng-model="fieldData.current.config.choices[lookup.LongValue]" ng-change="updateRule()")

      div(ng-show="fieldData.current.output == 'substatus'")
        div This field is made available for filtering/searching.
        div.field(rmaps-droppable="'input'" on-drop="onDropBase" ng-class="{ empty: !fieldData.current.input }")
          span(ng-show="fieldData.current.input") {{fieldData.current.input}}:
          span {{fieldData.current.alias}}
          span.remove-icon(ng-show="fieldData.current.input" ng-click="removeBase()") X
        div.row(ng-repeat="lookup in fieldData.current.lookups")
          div.col-md-3 {{lookup.LongValue}}
          div.col-md-9
            select(ng-options="option for option in subStatusOptions" ng-model="fieldData.current.config.choices[lookup.LongValue]" ng-change="updateRule()")

      div(ng-show="fieldData.current.output == 'days_on_market'")
        div If possible, select Cumulative Days on Market (CDOM) first, then Days on Market. Only one is required though.
        div.field(rmaps-droppable="0" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input[0] }")
          span(ng-show="fieldData.current.input[0]") {{fieldData.current.input[0]}}:
          span Cumulative Days on Market
          span.remove-icon(ng-show="fieldData.current.input[0]" ng-click="removeBaseInput(0)") X
        div.field(rmaps-droppable="1" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input[1] }")
          span(ng-show="fieldData.current.input[1]") {{fieldData.current.input[1]}}:
          span Days on Market
          span.remove-icon(ng-show="fieldData.current.input[1]" ng-click="removeBaseInput(1)") X

      div(ng-show="fieldData.current.output == 'parcel_id'")
        div.field(rmaps-droppable="'input'" on-drop="onDropBase" ng-class="{ empty: !fieldData.current.input }")
          span(ng-show="fieldData.current.input") {{fieldData.current.input}}:
          span Parcel ID
          span.remove-icon(ng-show="fieldData.current.input" ng-click="removeBase()") X
        div.row
          div.col-md-3 Strip Formatting
          div.col-md-3
            input(type="checkbox" ng-model="fieldData.current.config.stripFormatting" ng-change="updateRule()")

      div(ng-show="fieldData.current.output == 'hide_address'")
        div.field(rmaps-droppable="'input'" on-drop="onDropBase" ng-class="{ empty: !fieldData.current.input }")
          span(ng-show="fieldData.current.input") {{fieldData.current.input}}:
          span Hide Listing
          span.remove-icon(ng-show="fieldData.current.input" ng-click="removeBase()") X
        div.row
          div.col-md-3 Invert
          div.col-md-3
            input(type="checkbox" ng-model="fieldData.current.config.invert" ng-change="updateRule()")

      div(ng-show="fieldData.current.output == 'hide_listing'")
        div.field(rmaps-droppable="'input'" on-drop="onDropBase" ng-class="{ empty: !fieldData.current.input }")
          span(ng-show="fieldData.current.input") {{fieldData.current.input}}:
          span Hide Listing
          span.remove-icon(ng-show="fieldData.current.input" ng-click="removeBase()") X
        div.row
          div.col-md-3 Invert
          div.col-md-3
            input(type="checkbox" ng-model="fieldData.current.config.invert" ng-change="updateRule()")

      div(ng-show="fieldData.current.output == 'fips_code'")
        div.field(rmaps-droppable="0" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input[0] }")
          span(ng-show="fieldData.current.input[0]") {{fieldData.current.input[0]}}:
          span County
          span.remove-icon(ng-show="fieldData.current.input[0]" ng-click="removeBaseInput(0)") X
        div.field(rmaps-droppable="1" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input[1] }")
          span(ng-show="fieldData.current.input[1]") {{fieldData.current.input[1]}}:
          span State
          span.remove-icon(ng-show="fieldData.current.input[1]" ng-click="removeBaseInput(1)") X

      div(ng-show="fieldData.current.output == 'rm_property_id'")
        div.field(rmaps-droppable="0" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input[0] }")
          span(ng-show="fieldData.current.input[0]") {{fieldData.current.input[0]}}:
          span County
          span.remove-icon(ng-show="fieldData.current.input[0]" ng-click="removeBaseInput(0)") X
        div.field(rmaps-droppable="1" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input[1] }")
          span(ng-show="fieldData.current.input[1]") {{fieldData.current.input[1]}}:
          span State
          span.remove-icon(ng-show="fieldData.current.input[1]" ng-click="removeBaseInput(1)") X
        div.field(rmaps-droppable="2" on-drop="onDropBaseInput" ng-class="{ empty: !fieldData.current.input[2] }")
          span(ng-show="fieldData.current.input[2]") {{fieldData.current.input[2]}}:
          span Parcel
          span.remove-icon(ng-show="fieldData.current.input[2]" ng-click="removeBaseInput(2)") X

      //- Generic
      div(ng-show="['price', 'acres', 'baths_full', 'bedrooms', 'price', 'sqft_finished', 'close_date', 'discontinued_date'].indexOf(fieldData.current.output) != -1")
        div.field(rmaps-droppable="'input'" on-drop="onDropBase" ng-class="{ empty: !fieldData.current.input }")
          span(ng-show="fieldData.current.input") {{fieldData.current.input}}:
          span {{fieldData.current.alias}}
          span.remove-icon(ng-show="fieldData.current.input" ng-click="removeBase()") X

    div.col-md-12
      h4 Field Transform
      div.row
        div.col-md-3 Enable editing (advanced)
        div.col-md-9
          input(type="checkbox" ng-model="fieldData.current.advanced" ng-change="updateRule()")
      div.row
        div.col-md-12
          textarea.transform(ng-model="fieldData.current.transform" ng-disabled="!fieldData.current.advanced")

