.row.col-md-12.scroll(ng-if="fieldData.current.config.doLookup")
  .row.col-md-5.lookup.help(ng-if="!lookupOptions[fieldData.current.output]") Replace source values with more readable values where necessary
  .row.col-md-5.lookup.heading
    .col-md-8 Server value:
    .col-md-4 Map to our value:
  .row.col-md-5.lookup(ng-repeat="lookup in fieldData.current.lookups")
    .col-md-8 {{lookup.LongValue}}
    .col-md-4
      select(
        ng-if="lookupOptions[fieldData.current.output]"
        ng-model="fieldData.current.config.mapping[lookup.LongValue]"
        ng-change="updateRule()"
        ng-disabled="fieldData.current.config.advanced"
        ng-options="option for option in lookupOptions[fieldData.current.output]"
      )
        option(value="")
      input(
        ng-if="!lookupOptions[fieldData.current.output]"
        ng-model="fieldData.current.config.mapping[lookup.LongValue]"
        ng-change="updateRule()"
        ng-disabled="fieldData.current.config.advanced"
        type="text"
        placeholder="Display value"
      )
