mixin propertyButtons(resultName)
  div.btn-actions
    button.pinto(ng-click="formatters.results.clickSaveResultFromList(#{resultName}, $event); $event.stopPropagation()")
      span.icon.icon-pin
      span(ng-cloak) {{formatters.results.isSavedResult(#{resultName}) ? 'Pinned' : 'Pin'}}
    button.send(ng-controller="rmapsMailCtrl" ng-click="formatters.results.sendSnail(#{resultName}); $event.stopPropagation()")
      span.icon.icon-send_email
      span Mail
    button.note(ng-controller="rmapsNotesCtrl" ng-click="createGeoNote(#{resultName}); $event.stopPropagation()")
      i.fa.fa-sticky-note &nbsp;
      span Note

    button.snail(ng-click="formatters.results.zoomTo(#{resultName}); $event.stopPropagation()")
      i.fa.fa-map-marker &nbsp;
      span Zoom To
