mixin propertyAttributes(propName)
  p.price(ng-class="formatters.property.getForSaleClass(property, false)") {{formatters.property.getPrice(#{propName}.price)}}
  div.property-attr
    ul.attr
      li.bedrooms {{formatters.property.orNa(#{propName}.bedrooms)}} beds
      li.baths_total {{formatters.property.orNa(#{propName}.baths.value)}} baths
      li.finished_sqft(ng-if="#{propName}.sqft_finished") {{#{propName}.sqft_finished}} Sq Ft
      li.year_built(ng-if="#{propName}.year_built.value") {{#{propName}.year_built.value}}
  h4.title(ng-if="property.address.lines[0]") {{property.address.lines[0]}}
  p.location(ng-repeat="line in property.address.lines.slice(1)") {{line}}
