mixin propertyAttributes(propName)
  p.price(ng-class="formatters.property.getForSaleClass(#{propName}, false)") {{formatters.property.getPrice(#{propName}.price)}}
  div.property-attr
    ul.attr
      li.bedrooms {{formatters.property.orNa(#{propName}.bedrooms)}} beds
      li.baths_total {{formatters.property.orNa(#{propName}.baths_total)}} baths
      li.finished_sqft(ng-if="#{propName}.sqft_finished") {{#{propName}.sqft_finished}} Sq Ft
      li.year_built(ng-if="#{propName}.year_built.value") {{#{propName}.year_built.value}}
  h4.title {{#{propName}.address.street}} {{#{propName}.address.unit}}
  p.location {{#{propName}.address.citystate}} {{#{propName}.address.zip}}
  p.location(ng-if="#{propName}.mls_formal_name") {{#{propName}.mls_formal_name}}
