mixin propertyAttributes(propName)
  p.price(ng-class="formatters.property.getForSaleClass(property, false)") {{formatters.property.getPrice(#{propName}.price)}}
  div.property-attr
    ul.attr
      li.bedrooms(ng-if="#{propName}.bedrooms") {{#{propName}.bedrooms}} bed
      li.baths_total(ng-if="#{propName}.baths_total") {{#{propName}.baths_total}} bath
      li.finished_sqft(ng-if="#{propName}.finished_sqft") {{#{propName}.finished_sqft}} Sq Ft
      li.year_built(ng-if="#{propName}.year_built") {{formatters.property.getYear(#{propName}.year_built)}} built
  h4.title(ng-if="#{propName}.street_address_num || #{propName}.street_address_name || #{propName}.street_address_unit", ng-cloak) {{#{propName}.street_address_num}} {{#{propName}.street_address_name}} {{#{propName}.street_address_unit}}
  p.location(ng-if="#{propName}.city || #{propName}.state") {{formatters.property.getCityStateZip(#{propName})}}
