div.search-field(ng-controller="rmapsSearchCtrl" ng-class="{ 'search-open': openSearchTools }")
  button.btn.btn-icon.search-btn(ng-click="openSearchTools = !openSearchTools" )
    span.icon.icon-magnify
  div.search(ng-controller="DropdownCtrl" ng-show="openSearchTools")
    div.search-content
      span.search-type
        span.dropdown(uib-dropdown on-toggle="toggled(open)")
          button.dropdown-toggle(href='#search-type' uib-dropdown-toggle)
            span
              span.type
                | {{searchScope}}
            span.caret
          ul.dropdown-menu
            li(ng-click="searchScope = 'Places'")
              span.icon.icon-property
              | Places
            li(ng-click="searchScope = 'Owners'")
              span.icon.icon-project
              | Owners

      span(ng-switch="searchScope")
        span.search-input(ng-switch-when="Owners")
          input.form-control(
            uib-tooltip="{{searchTooltip}}"
            tooltip-placement="bottom"
            tooltip-popup-delay="500"
            tooltip-close-popup-delay="500"
            tooltip-enable="selectedFilters.ownerName.length > 0"
            tooltip-trigger="'keyup mouseenter focus'"
            placeholder="Enter a name"
            ng-model="selectedFilters.ownerName")
        span.search-input(ng-switch-when="Places")
          input.form-control(
            ng-model="result.googlePlace"
            g-places-autocomplete
            placeholder="Enter an address or place"
            ng-change="addressChange()")
