include ../mixins/_circleNrMixin.jade

span(
  ng-hide="Toggles.getHideAnyDraw()"
  class="dropdown btn-group area-list"
  ng-controller="rmapsMapAreasCtrl"
  uib-dropdown
  auto-close="disabled"
  is-open="isOpens.area"
  on-toggle="areaListToggled(open); togglePanel('area')"
)
    div(ng-if="isOpen" ng-controller="rmapsDrawAreaCtrl")
    button.btn.btn-transparent.dropdown-toggle.area.nav-btn.toggle-active(
    uib-dropdown-toggle
    popover-placement="bottom"
    uib-popover="Areas"
    popover-trigger="'click mouseenter touchend'"
    popover-enable="!isOpens.area")
      span.icon.icon-area-poly
    .dropdown-menu.whiteblock(ng-controller="rmapsAreasModalCtrl")
      div(ng-controller="rmapsAreasQuickStatsModalCtrl")
      .fixed-header
        .icon.icon-close(uib-dropdown-toggle)
        span
          a(ng-show="_.keys(areas).length" ui-sref="projectAreas({id: principal.getCurrentProfile().project_id})") {{_.keys(areas).length}} Areas
          span(ng-show="!_.keys(areas).length") No Areas
        span.results-btn(
          ng-click="Toggles.toggleIsAreaDraw()")
            span.draw-area-btn Draw New Area
      .inner
        ul(ng-controller="rmapsAreasModalCtrl")
          li(
            ng-controller="rmapsAreasQuickStatsModalCtrl"
            ng-repeat="model in areas | orderBy:'properties.area_name'" ng-click="centerOn(model)"
            ng-mouseenter="onMouseOver(model)"
            ng-mouseleave="onMouseLeave(model)")
            div
              span.content
                .title {{model.properties.area_name}}
                span.rename(ng-click="update(model); $event.stopPropagation()") Rename
              span.actions(rmaps-require-project-editor)
                span.fa.fa-bar-chart(ng-click="showStatistics(model); $event.stopPropagation()" tooltip-placement="bottom" uib-tooltip="Area statistics")
                span.fa.fa-envelope(ng-click="sendMail(model); $event.stopPropagation()" tooltip-placement="bottom" uib-tooltip="Send mail to area")
                span.fa.fa-trash-o(ng-click="remove(model); $event.stopPropagation()" tooltip-placement="bottom" uib-tooltip="Delete area")
        .dropdown-explanation(ng-show="!_.keys(areas).length")
          p You haven't drawn any areas. Draw areas on the map to easily navigate between neighborhoods and to limit your search results.
          p You can also send mail to an area or get statistics about it.
          .action Watch a 60 second video
