include ../mixins/_circleNrMixin.jade

span(
  ng-hide="Toggles.getHideAnyDraw()"
  ng-controller="rmapsClientButtonCtrl"
  class="dropdown btn-group area-list"
  uib-dropdown
  auto-close="disabled"
  is-open="isOpens.client"
  on-toggle="togglePanel('client')"
)
  button.btn.btn-transparent.nav-btn.dropdown-toggle.client.toggle-active(
    uib-dropdown-toggle
    popover-placement="bottom"
    uib-popover="Clients"
    popover-enable="!isOpens.client"
    popover-trigger="'click mouseenter touchend'")
    i.icon.fa.fa-user

  .dropdown-menu.whiteblock
    .fixed-header
      .icon.icon-close(uib-dropdown-toggle)
      span
        a(ng-show="clientTotal" ui-sref="projectClients({id: principal.getCurrentProfile().project_id})") {{clientTotal}} Collaborators
        span(ng-show="!clientTotal") No Collaborators
      span.results-btn(
        rmaps-require-project-editor
        popover-placement="right"
        popover-trigger="'mouseenter touchend'"
        uib-popover="Add Client"
        ng-click="edit(); $event.stopPropagation()")
          span Share Project

    .inner
      ul
        li(ng-repeat="client in clients" ng-cloak)
          div
            span.content
              p.text {{client.first_name}} {{client.last_name}}
              p.text {{client.email}}

            span.actions(rmaps-require-project-editor)
              span.icon.icon-remove(ng-click="remove(client); $event.stopPropagation()")
              span.fa.fa-edit(ng-click="edit(client); $event.stopPropagation()")
      // TODO : remove project owner from client list and remove the "<=1" in the ng-show below
      .dropdown-explanation(ng-show="clients.length <= 1")
        p You haven't shared your project yet. We'll email clients or collaborators an invitation to join your project in 1 quick step.
        p Everyone gets notified when changes are made to the project.
        .action Watch a 60 second video              
