include ../mixins/_circleNrMixin.jade

span(
  ng-hide="Toggles.getHideAnyDraw()"
  ng-controller="rmapsClientButtonCtrl"
  class="dropdown btn-group notes-list"
  dropdown
  auto-close="disabled"
  is-open="isOpens.client"
  on-toggle="togglePanel('client')"
)
  button.btn.btn-transparent.nav-btn.dropdown-toggle.client.toggle-active(
    dropdown-toggle
    popover-placement="bottom"
    popover="Clients"
    popover-trigger="click mouseenter")
    i.icon.fa.fa-user

  .dropdown-menu.whiteblock
    .fixed-header
      span
        a(ng-show="clientTotal" ui-sref="projectClients({id: principal.getCurrentProfile().project_id})") {{clientTotal}} Collaborator
        span(ng-show="!clientTotal") No Collaborators
      span.results-btn(
        rmaps-require-project-editor
        popover-placement="right"
        popover-trigger="mouseenter"
        popover="Add Client"
        ng-click="edit(); $event.stopPropagation()")
          span.icon.icon-add_note
          span Add Collaborator

    .inner
      ul
        li(ng-repeat="client in clients" ng-cloak)
          div
            span.enity
              +circleNrMixin('{{$index+1}}')
              span.content
                p.text {{client.first_name}} {{client.last_name}}
                p.text {{client.email}}

            span.actions(rmaps-require-project-editor)
              span.icon.icon-remove(ng-click="remove(client); $event.stopPropagation()")
              span.fa.fa-edit(ng-click="edit(client); $event.stopPropagation()")
