.draw-tools
    button.btn.btn-transparent.properties-in-shapes(
      ng-click="Toggles.togglePropertiesInShapes()"
      popover-placement="top"
      popover="Filter by shapes"
      popover-trigger="mouseenter"
      ng-class="Toggles.propertiesInShapes ? 'on' : ''")
      span.icon.icon-markers-in-shapes
      
    button(
      ng-controller="rmapsNeighbourhoodsModalCtrl"
      class="btn btn-transparent add-neighbour"
      popover-placement="top"
      popover-trigger="mouseenter"
      popover="Add Neighbour"
      ng-click="Toggles.enableNeighbourhoodTap()")
        span.icon.icon-add_neighbourhood
