include ../mixins/property/_propertyAttributes.jade
include ../mixins/_circleNrMixin.jade

span(
  ng-hide="Toggles.getHideAnyDraw()"
  ng-controller="rmapsPinnedCtrl"
  class="dropdown btn-group pinned-list"
  uib-dropdown
  is-open="isOpens.favorites"
  on-toggle="togglePanel('favorites')"
)
  button.btn.btn-transparent.nav-btn.dropdown-toggle.pinned.toggle-active(
    uib-dropdown-toggle
    popover-placement="bottom"
    uib-popover="Favorite Properties"
    popover-trigger="'click mouseenter touchend'"
    popover-enable="!isOpens.favorites")
    i.icon.fa.fa-heart

  .dropdown-menu.whiteblock
    .fixed-header
      span
        a(ng-show="favoriteTotal" ui-sref="projectFavorites({id: principal.getCurrentProfile().project_id})") {{favoriteTotal}} Favorite Properties
        span(ng-show="!favoriteTotal") No Favorite Properties
    .inner
      ul
        li(ng-repeat="property in favoriteProperties")
          a(ng-click="formatters.results.showModel(property)")
            span.enity
              +circleNrMixin('{{$index+1}}')
              span.content
                span(class="status" ng-class="formatters.property.getStatusLabelClass(property, true)") {{property.status}}
                +propertyAttributes('property')
            span.actions
              span.action-button(ng-click="formatters.results.clickFavoriteResultFromList(property); $event.stopPropagation()")
                span.action Remove
                i.fa.fa-heart
      .dropdown-explanation(ng-show="!favoriteTotal")
        p We don't see any favorites! You, or others on your project, can favorite properties by clicking the heart on any property.
        p Favorites make it easy to see which properties your clients like.
        .action Watch a 60 second video
