include ../mixins/property/_propertyAttributes.jade
include ../mixins/_circleNrMixin.jade

span(
  ng-hide="Toggles.getHideAnyDraw()"
  ng-controller="rmapsPinnedCtrl"
  class="dropdown btn-group pinned-list"
  dropdown
  is-open="isOpens.favorites"
  on-toggle="togglePanel('favorites')"
)
  button.btn.btn-transparent.nav-btn.dropdown-toggle.pinned.toggle-active(
    dropdown-toggle
    popover-placement="bottom"
    popover="Favorite Properties"
    popover-trigger="mouseenter")
    i.icon.fa.fa-heart

  .dropdown-menu.whiteblock
    .fixed-header
      span
        a(ng-show="favoriteTotal" ui-sref="projectFavorites({id: principal.getCurrentProfile().project_id})") {{favoriteTotal}} Favorite Properties
        span(ng-show="!favoriteTotal") No Favorite Properties
    .inner
      ul
        li(ng-repeat="property in favoriteProperties")
          a(ng-click="formatters.results.showModel(property)")
            span.enity
              +circleNrMixin('{{$index+1}}')
              span.content
                span(class="status" ng-class="formatters.property.getStatusLabelClass(property, true)") {{property.status}}
                +propertyAttributes('property')
            span.actions
              span.action-button(ng-click="formatters.results.clickFavoriteResultFromList(property); $event.stopPropagation()")
                span.action Remove
                i.fa.fa-heart
