.xtra-layer-tools
  button.btn.btn-transparent.satellite-toggle(
    ng-if="Toggles.useSatellite"
    ng-touch="Toggles.useSatellite = !Toggles.useSatellite; $event.stopPropagation()"
    ng-click="Toggles.useSatellite = !Toggles.useSatellite; $event.stopPropagation()"
    popover-placement="right"
    uib-popover="Satellite Toggle"
    popover-trigger="'click mouseenter touchend'"
    uib-popover-popup-close-delay="1")
    div.fa.fa-globe
    div.layer-label Aerial
  button.btn.btn-transparent.satellite-toggle(
    ng-if="!Toggles.useSatellite"
    ng-touch="Toggles.useSatellite = !Toggles.useSatellite; $event.stopPropagation()"
    ng-click="Toggles.useSatellite = !Toggles.useSatellite; $event.stopPropagation()"
    popover-placement="right"
    uib-popover="Satellite Toggle"
    popover-trigger="'click mouseenter touchend'"
    uib-popover-popup-close-delay="1")
    div.fa.fa-map
    div.layer-label Map

.location-tools
  button.btn.btn-transparent.zoom-locate(
    ng-touch="Toggles.toggleLocation(); $event.stopPropagation()"
    ng-click="Toggles.toggleLocation(); $event.stopPropagation()"
    findme="" ng:class="{'active' : showFollowMe }"
    popover-placement="right"
    uib-popover="My Location"
    popover-trigger="'click mouseenter touchend'"
    uib-popover-popup-close-delay="1")
    span.icon.icon-location

.zoom-tools
  button.btn.btn-transparent.zoom-in(ng-click="changeZoom(+1); $event.stopPropagation()"
    popover-placement="right"
    uib-popover="Zoom In"
    popover-trigger="'click mouseenter touchend'"
    uib-popover-popup-close-delay="1")
    span.icon.icon-plus
  button.btn.btn-transparent.zoom-out(ng-click="changeZoom(-1); $event.stopPropagation()"
    popover-placement="right"
    uib-popover="Zoom Out"
    popover-trigger="'click mouseenter touchend'"
    uib-popover-popup-close-delay="1")
    span.icon.icon-minus
