include ../mixins/property/_propertyAttributes.jade
include ../mixins/_circleNrMixin.jade

span.pinned-list.dropdown.btn-group(
  ng-hide="Toggles.getHideAnyDraw()"
  ng-controller="rmapsMapMailCtrl"
  dropdown
  is-open="isOpens.mail"
  on-toggle="togglePanel('mail')"
)
  button.btn.btn-transparent.nav-btn.dropdown-toggle.pinned.toggle-active(
    rmaps-require-project-editor="disable"
    dropdown-toggle
    popover-placement="bottom"
    popover="Mailings"
    popover-trigger="click mouseenter touchend"
    popover-enable="!isOpens.mail")
    i.fa.fa-envelope.icon

  .dropdown-menu.whiteblock
    .fixed-header
      span
        a(ng-show="mailings.length" ui-sref="mail") {{mailings.length}} Mailings
        span(ng-show="!mailings.length") No Mailings
      span.results-btn(
        ng-controller="rmapsMailModalCtrl"
        popover-placement="right"
        popover-trigger="mouseenter touchend"
        popover="New Mailing"
        ng-click="addMail()")
          span New Mail
    .inner
      ul
        li(ng-repeat="property in mailings")
          a(ng-click="formatters.results.showModel(property)")
            span.enity
              +circleNrMixin('{{$index+1}}')
              span.content
                span(class="status" ng-class="formatters.property.getStatusLabelClass(property, true)") {{property.status}}
                +propertyAttributes('property')
      .dropdown-explanation(ng-show="!mailings.length")
        p You haven't sent any mail yet. Maybe now's the time to start? You can send 1 letter or thousands of letters in just a few clicks.
        p Find your house and send yourself a letter to see how easy it is!
        .action Watch a 60 second video
