include ../mixins/_noteMixin.jade

span(ng-hide="Toggles.getHideAnyDraw()" ng-controller="rmapsMapNotesCtrl" class="dropdown btn-group notes-list"
 dropdown on-toggle="toggled(open)" auto-close="disabled")
  button.btn.btn-transparent.nav-btn.dropdown-toggle.notes.toggle-active(
    dropdown-toggle
    popover-placement="bottom"
    popover="Notes"
    popover-trigger="click mouseenter")
    span.icon.icon-note
  .dropdown-menu.whiteblock(ng-cloak)
    .fixed-header
      span
        a(ng-show="map.markers.notes.length" ui-sref="projectNotes({id: principal.getCurrentProfile().project_id})") {{map.markers.notes.length}} Notes
        span(ng-show="!map.markers.notes.length") No Notes
      span.results-btn(
        popover-placement="right"
        popover-trigger="mouseenter"
        popover="Add Note"
        ng-click="Toggles.enableNoteTap()")
          span.icon.icon-add_note
          span New Note
    .inner
      ul
        li(ng-repeat="note in map.markers.notes" ng-cloak)
          div(ng-controller="rmapsNotesModalCtrl")
            span.enity
              +noteMixin('{{note.title}}','{{note.text}}','{{$index+1}}')

              // TODO - add sketch feature in
                span.sketch
                  span.icon.icon-pen
                  span.action View attached sketch
              // TODO - add comment feature in
                span.comment
                  a(href="#comment") Leave a comment

            span.actions
              span.icon.icon-remove(ng-click="remove(note); $event.stopPropagation()")
              span.fa.fa-edit(ng-click="update(note); $event.stopPropagation()")
