include ../mixins/_noteMixin.jade

span(
  ng-hide="Toggles.getHideAnyDraw()"
  ng-controller="rmapsMapNotesCtrl"
  class="dropdown btn-group notes-list"
  uib-dropdown
  auto-close="disabled"
  is-open="isOpens.notes"
  on-toggle="togglePanel('notes')"
)
  button.btn.btn-transparent.nav-btn.dropdown-toggle.notes.toggle-active(
    uib-dropdown-toggle
    popover-placement="bottom"
    uib-popover="Notes"
    popover-enable="!isOpens.notes"
    popover-trigger="click mouseenter touchend")
    span.icon.icon-note
  .dropdown-menu.whiteblock(ng-cloak)
    .fixed-header
      span
        a(ng-show="markerNotesLength()" ui-sref="projectNotes({id: principal.getCurrentProfile().project_id})") {{markerNotesLength()}} Notes
        span(ng-show="!markerNotesLength()") No Notes
      span.results-btn(
        popover-placement="right"
        popover-trigger="mouseenter"
        uib-popover="Add Note"
        ng-click="Toggles.enableNoteTap()")
          span Add Note
    .inner
      ul(ng-controller="rmapsNotesModalCtrl")
        li(ng-repeat="note in map.markers.notes" ng-cloak ng-click="centerOn(note)")
          div
            span.enity
              +noteMixin('{{note.first_name}}', '{{note.last_name}}','{{note.text}}','{{note.$index}}', true)

              // TODO - add sketch feature in
                span.sketch
                  span.icon.icon-pen
                  span.action View attached sketch
              // TODO - add comment feature in
                span.comment
                  a(href="#comment") Leave a comment

            span.actions
              span.icon.icon-remove(rmaps-require-project-editor ng-click="remove(note); $event.stopPropagation()")
              span.fa.fa-edit(ng-click="update(note); $event.stopPropagation()")
      .dropdown-explanation(ng-show="!markerNotesLength()")
        p Click 'Add Note' and drop a note anywhere on the map. Or click the note button on any property you see.
        p Your notes will show up in this list. Notes will be emailed to everyone in the project
        .action Watch a 60 second video
