include ../mixins/_circleNrMixin.jade

span.pinned-list.dropdown.btn-group(
  ng-hide="Toggles.getHideAnyDraw()"
  ng-controller="rmapsPinnedCtrl"
  uib-dropdown
  is-open="isOpens.pinned"
  on-toggle="togglePanel('pinned')"
)
  button.btn.btn-transparent.nav-btn.dropdown-toggle.pinned.toggle-active(
    uib-dropdown-toggle
    popover-placement="bottom"
    uib-popover="{{mainOptions.naming.save.past}} Properties"
    popover-enable="!isOpens.pinned"
    popover-trigger="'click mouseenter touchend'"
  )
    span.icon.icon-pin

  .dropdown-menu.whiteblock
    .fixed-header
      .icon.icon-close(uib-dropdown-toggle)
      span
        a(ng-show="(identity.currentProfile.pins | _keys).length" ui-sref="projectPins({id: principal.getCurrentProfile().project_id})") {{(identity.currentProfile.pins | _keys).length}} {{mainOptions.naming.saved}} Properties
        span(ng-show="!(identity.currentProfile.pins | _keys).length") No {{mainOptions.naming.save.past}} Properties
      span
        span.results-btn(ng-click="getStatistics(); $event.stopPropagation()" ng-class="{'disabled':!formatters.results.getResultsArray().length}")
          span.fa.fa-bar-chart
        span.results-btn(ng-click="pinResults('Pin'); $event.stopPropagation()" ng-class="{'disabled':!formatters.results.getResultsArray().length}")
          span.fa.fa-plus-circle
          span.action Results
        span.results-btn(ng-controller="rmapsMailModalCtrl" popover-placement="bottom-left"
          popover-trigger="'click mouseenter'"
          uib-popover="New Mailing"
          ng-click="addMail()"
        )
          i.fa.fa-envelope
    .inner
      ul
        li(ng-repeat="property in identity.currentProfile.pins")
          a.property-attrs-clickable(ng-click="formatters.results.showModel(property)")
            span.enity
              span.content
                span(class="status" ng-class="formatters.property.getStatusLabelClass(property, true)") {{formatters.property.getStatusLabel(property)}}
                property-attributes(property="property")
            span.actions
              span.action-button(ng-click="formatters.results.clickSaveResultFromList(property); $event.stopPropagation()")
                span.action {{mainOptions.naming.save.un}}
                span.icon.icon-pin

      .dropdown-explanation(ng-show="!(identity.currentProfile.pins | _keys).length")
        p You haven't {{mainOptions.naming.save.past.toLowerCase()}} any properties yet. Click the {{mainOptions.naming.save.alt.present.toLowerCase()}} to {{mainOptions.naming.save.present.toLowerCase()}} properties in the project.  Everyone in the project will see the same {{mainOptions.naming.save.pluralAlt.toLowerCase()}}.
        p {{mainOptions.naming.save.progressive}} makes things easier to find: they'll show up right here in this list.
        .action Watch a 60 second video
