mixin projectsDropdown()
  span.dropdown.btn-group.projects-list(
    ng-hide="Toggles.getHideAnyDraw()"
    uib-dropdown is-open="projectDropdown.isOpen"
    ng-controller="rmapsProjectsDropdownCtrl")&attributes(attributes)

    button.dropdown-toggle.btn.btn-transparent(uib-dropdown-toggle)
      span
        h4(ng-show="principal.getCurrentProfile().sandbox") Sandbox
        h4(ng-show="!principal.getCurrentProfile().sandbox") {{principal.getCurrentProfile().name}}
      span.caret
    .dropdown-menu.whiteblock.no-margin
      .fixed-header
        .icon.icon-close(uib-dropdown-toggle)
        div
          div.header-item(ng-show="getProjects().length == 1") {{getProjects().length}} Active Project
          div.header-item(ng-show="getProjects().length != 1") {{getProjects().length}} Active Projects
          a(href="{{frontendRoutes.projects}}") View All Projects
        div(ng-controller="rmapsAddProjectController")
          span.results-btn(
            rmaps-require-subscriber="disable"
            popover-placement="bottom"
            popover-trigger="'click mouseenter touchend'"
            uib-popover="Create a new blank project"
            ng-click="addProject(false)")
              span New Blank Project
          span.results-btn(
            rmaps-require-subscriber="disable"
            popover-placement="bottom"
            popover-trigger="'click mouseenter touchend'"
            uib-popover="Save a copy of the current project"
            ng-click="addProject(true)")
              span Save As
      .inner
        ul
          li(ng-repeat="project in identity.profiles | _values | filter:{archived:'!true'} | orderBy:[isSandbox, '-rm_modified_time']" ng-click="selectProject(project.project_id)")
            a
              span.enity
                span.icon.icon-project
                span.title
                  h3(ng-show="project.sandbox") Sandbox
                  h3(ng-show="!project.sandbox") {{project.name}}
                  .row.subtitle
                    span.col-md-5 {{(project.pins | _keys).length}}
                      span(ng-show="(project.pins | _keys).length == 1") &#32;Property
                      span(ng-show="(project.pins | _keys).length != 1") &#32;Properties
                      span(ng-show="project.archived == true") &#32;(archived)
                    span.col-md-4.text-right &#32;{{getModified(project).format('ddd MMM Do ha')}}
                  .row.subtitle(ng-if="project.parent_name")
                    span.col-md-2 Owner:
                    span.col-md-10.parent-name &#32;{{project.parent_name}}
              span.actions
                span.action-button(rmaps-require-subscriber="disable" ng-show="!project.sandbox && project.id != principal.getCurrentProfileId()" ng-click="archiveProject(project); $event.stopPropagation()")
                  span.action(ng-show="project.archived") Unarchive
                  span.action(ng-show="!project.archived") Archive
                  span.icon.icon-save_on_disk
                span.action-button(ng-show="project.sandbox" ng-click="resetProject(project); $event.stopPropagation()")
                  span.action Reset
                  span.icon.fa.fa-undo
