.desktop-only
  .results-container.navbar-below#results-slide(ng-if="Toggles.showResults")
    .filters
      span Sort By:
      ul(ng-click="$event.stopPropagation()")
        li(ng-click="formatters.results.setOrReverseResultsPredicate('price')" ) Price
          span(class="caret {{resultsDescending ? 'desc' : 'asc'}}" ng-class="formatters.results.getSortClass('price')")
        li(ng-click="formatters.results.setOrReverseResultsPredicate('bedrooms')") Beds
          span(class="caret {{resultsDescending ? 'desc' : 'asc'}}" ng-class="formatters.results.getSortClass('bedrooms')")
        li(ng-click="formatters.results.setOrReverseResultsPredicate('sqft_finished')") Sq Ft
          span(class="caret {{resultsDescending ? 'desc' : 'asc'}}" ng-class="formatters.results.getSortClass('sqft_finished')")
        li(ng-click="formatters.results.setOrReverseResultsPredicate('year_built')") Year
          span(class="caret {{resultsDescending ? 'desc' : 'asc'}}" ng-class="formatters.results.getSortClass('year_built')")
    #results-list-container
      #results-list.list
        ul.list(infinite-scroll='formatters.results.loadMore(false)' infinite-scroll-container="'#results-list-container'" infinite-scroll-distance='0')
          li(ng-repeat="property in formatters.results.getResultsArray() | orderBy:resultsPredicate:resultsDescending | limitTo:resultsLimit")
            .property-card
              property-images(property="property" image-width="275" cover-image="true" show-status="true" block-google="true")
              a.property-attrs-clickable(ng-click="formatters.results.showModel(property)")
                property-attributes(property="property")
              property-buttons(property='property'
                              pin-click='formatters.results.clickSaveResultFromList(property, $event); $event.stopPropagation()'
                              favorite-click='formatters.results.clickFavoriteResultFromList(property, $event); $event.stopPropagation()'
                              )


.mobile-only
  #detail-card-tray(ng-controller="rmapsSwipeTrayCtrl")
    #detail-card-container(ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()")
      .detail-card(ng-repeat="property in formatters.results.getResultsArray() | orderBy:resultsPredicate:resultsDescending | limitTo:resultsLimit"
      ng-class="trayPosition($index)"
      ng-click="cardClick($index, property)")
        property-images(property="property" image-width="85" cover-image="true" show-status="true")
        .card-info
          a.pinto(
            ng-click="formatters.results.clickSaveResultFromList(property, $event); $event.stopPropagation()"
            popover-placement="left"
            popover-trigger="'mouseenter touchend'"
            uib-popover="{{formatters.property.activePin(property)}}"
            ng-class="{ 'pinned': formatters.property.isPinnedResult(property) }")
            span.icon.icon-pin
          a.property-attrs-clickable(ng-click="formatters.results.showModel(property)")
            property-attributes(property="property")
