span.settings-tool.pull-right(ng-hide="Toggles.getHideAnyDraw()")
  span.desktop-only
    span.dropdown.btn-group.settings-list(dropdown on-toggle="toggled(open)" ng-controller="rmapsFiltersCtrl")
      button.dropdown-toggle.btn.btn-transparent.nav-btn.settings.toggle-active(
        dropdown-toggle
        popover-placement="bottom"
        popover-trigger="click mouseenter"
        popover="Property Filters")
        span.icon.icon-settings
      .dropdown-menu.whiteblock(ng-click="$event.stopPropagation()" ng-class="{'showAdvanced': showAdvanced}")
        h4.fixed-header
          span Property Filters
          span
            a.results-btn(ng-click="reset()")
              .fa.fa-undo
              span Reset
            a.results-btn(ng-click="showAdvanced = !showAdvanced")
              span(ng-if="!showAdvanced" ng-cloak) More
              span(ng-if="showAdvanced" ng-cloak) Less
            span.title-right(ng-if="showAdvanced" ng-cloak) Advanced Filters

        ul.basic
          li.row
            span.label.col-md-3 Property Status
            .col-md-9.property-status
              ul
                li
                  button.btn.btn-forsale(ng-click="selectedFilters.forSale = !selectedFilters.forSale" ng-class="{'btn-inactive' : !selectedFilters.forSale }") For Sale
                li
                  button.btn.btn-pending(ng-click="selectedFilters.pending = !selectedFilters.pending" ng-class="{'btn-inactive' : !selectedFilters.pending }") Pending
                li
                  button.btn.btn-sold(ng-click="selectedFilters.sold = !selectedFilters.sold" ng-class="{'btn-inactive' : !selectedFilters.sold }") Sold
                li
                  button.btn.btn-offmarket(ng-click="selectedFilters.notForSale = !selectedFilters.notForSale" ng-class="{'btn-inactive' : !selectedFilters.notForSale }") Off Market

          li.row
            span.label.col-md-3 Property Type
            .col-md-9
              select.form-control(ng-model="selectedFilters.propertyType" ng-options='c.value as c.name for c in filterValues.propertyTypes')

          li.row
            span.label.col-md-3 Price
            .col-md-4
              input.form-control(type="text" numeral format="$0,0" ng-model="selectedFilters.priceMin" placeholder="Minimum")
            span.col-md-1.label to
            .col-md-4
              input.form-control(type="text" numeral format="$0,0" ng-model="selectedFilters.priceMax" placeholder="Maximum")

          li.row
            span.label.col-md-3 Beds
            .col-md-7.settings-row
              .settings-slider
                rzslider(rz-slider-model="selectedFilters.bedsMin" rz-slider-options="bedsSlider.options" rz-slider-tpl-url="SettingsSliderTemplate")
            .col-md-1.label {{selectedFilters.bedsMin}}+
          li.row
            span.label.col-md-3 Baths
            .col-md-7.settings-row
              .settings-slider
                rzslider(rz-slider-model="selectedFilters.bathsMin" rz-slider-options="bathsSlider.options" rz-slider-tpl-url="SettingsSliderTemplate")
            .col-md-1.label {{selectedFilters.bathsMin}}+

          li.row
            span.label.col-md-3 Sqft
            .col-md-4
              input.form-control(type="text" numeral format="0,0" ng-model="selectedFilters.sqftMin" placeholder="Minimum")
            span.col-md-1.label to
            .col-md-4
              input.form-control(type="text" numeral format="0,0" ng-model="selectedFilters.sqftMax" placeholder="Maximum")

          li.row
            span.label.col-md-3 Acres
            .col-md-4
              select.form-control(ng-model="selectedFilters.acresMin" ng-options='c.value as c.name disable when (selectedFilters.acresMax != null && c.value > selectedFilters.acresMax) for c in filterValues.acresValues')
            span.col-md-1.label to
            .col-md-4
              select.form-control(ng-model="selectedFilters.acresMax" ng-options='c.value as c.name disable when (selectedFilters.acresMin != null && c.value < selectedFilters.acresMin) for c in filterValues.acresValues')

          li.row
            span.label.col-md-5 In Shapes / Areas
            .col-md-7
              .btn-group.pull-right
                label.btn.btn-white.btn-checkbox(
                  ng-class="{active: Toggles.propertiesInShapes == (c == 'on')}"
                  ng-repeat="c in ['on', 'off']"
                  ng-model="Toggles.propertiesInShapes"
                  btn-radio="{{c == 'on'}}"
                  uncheckable) {{c}}

        ul.advanced(ng-if="showAdvanced" ng-cloak)
          li.row
            span.label.col-md-3 Owner Name
            .col-md-9
              input.form-control(type="text" ng-model="selectedFilters.ownerName")

          li.row
            span.label.col-md-3 Listed Days
            .col-md-4
              select.form-control(ng-model="selectedFilters.listedDaysMin" ng-options='c.value as c.name disable when (selectedFilters.listedDaysMax != null && c.value > selectedFilters.listedDaysMax) for c in filterValues.listedDays')
            span.col-md-1.label to
            .col-md-4
              select.form-control(ng-model="selectedFilters.listedDaysMax" ng-options='c.value as c.name disable when (selectedFilters.listedDaysMin != null && c.value < selectedFilters.listedDaysMin) for c in filterValues.listedDays')

          li.row
            span.label.col-md-3 Close Price
            .col-md-4
              input.form-control(ng-model="selectedFilters.closePriceMin" type="text" numeral format="$0,0" placeholder="Minimum")
            span.col-md-1.label to
            .col-md-4
                  input.form-control(ng-model="selectedFilters.closePriceMax" type="text" numeral format="$0,0" placeholder="Maximum")

          li.row
            span.label.col-md-3 Close Date
            .col-md-3.label start
            .col-md-6
              input.form-control(ng-model="selectedFilters.closeDateMin" type="date" max="{{selectedFilters.closeDateMax | date:'yyyy-MM-dd'}}" ng-max="selectedFilters.closeDateMax" placeholder="yyyy-MM-dd")

          li.row
            span.label.col-md-3 Close Date
            .col-md-3.label end
            .col-md-6
              input.form-control(ng-model="selectedFilters.closeDateMax" type="date" min="{{selectedFilters.closeDateMin | date:'yyyy-MM-dd'}}" ng-min="selectedFilters.closeDateMin" placeholder="yyyy-MM-dd")

          li.row
            span.label.col-md-5 Old DrawToolbar
            .col-md-7
              .btn-group.pull-right
                label.btn.btn-white.btn-checkbox(
                  ng-class="{active: Toggles.showOldToolbar == (c == 'show')}"
                  ng-repeat="c in ['show', 'hide']"
                  ng-model="Toggles.showOldToolbar"
                  btn-radio="{{c == 'show'}}"
                  uncheckable) {{c}}
          li.row
            span.label.col-md-5 Combined Data
            .col-md-7
              .btn-group.pull-right
                label.btn.btn-white.btn-checkbox(
                  ng-class="{active: selectedFilters.combinedData == (c == 'on')}"
                  ng-repeat="c in ['on', 'off']"
                  ng-model="selectedFilters.combinedData"
                  btn-radio="{{c == 'on'}}"
                  uncheckable) {{c}}

          li.row
            span.label.col-md-5 Has Images
            .col-md-7
              .btn-group.pull-right
                label.btn.btn-white.btn-checkbox(
                  ng-class="{active: selectedFilters.hasImages == (c == true)}"
                  ng-repeat="c in [true, false]"
                  ng-model="selectedFilters.hasImages"
                  btn-radio="{{c == true}}"
                  uncheckable) {{c}}
  .mobile-only
    button.dropdown-toggle.btn.btn-transparent.nav-btn.settings.toggle-active(mobile-modal modal-template="'SettingsModalMobile'" modal-title="'Filter by'")
      span.icon.icon-settings

  script(type="text/ng-template" id="SettingsModalMobile")
    .settings-modal-mobile(ng-controller="rmapsFiltersMobileCtrl")
      mobile-header-buttons
        a.settings-header-button(ng-click="reset()" ng-class="{ 'disabled': !dirty }") Reset
      .list
        .item.settings-row
          .settings-header Property Type
          select.form-control(ng-model="selectedFilters.propertyType" ng-options='c.value as c.name for c in filterValues.propertyTypes' ng-change="makeDirty()")

        .item.settings-row
          .settings-header Price
          .settings-value ${{translatePrice(priceSlider.min)}} - ${{translatePrice(priceSlider.max)}}
          .settings-slider
            rzslider(rz-slider-model="priceSlider.min" rz-slider-high="priceSlider.max" rz-slider-options="priceSlider.options" rz-slider-tpl-url="SettingsSliderTemplate")

        .item.settings-row
          .settings-header Beds
          .settings-value {{bedsMin}}+
          .settings-slider
            rzslider(rz-slider-model="bedsMin" rz-slider-options="bedsSlider.options" rz-slider-tpl-url="SettingsSliderTemplate")

        .item.settings-row
          .settings-header Baths
          .settings-value {{bathsMin}}+
          .settings-slider
            rzslider(rz-slider-model="bathsMin" rz-slider-options="bathsSlider.options" rz-slider-tpl-url="SettingsSliderTemplate")

        .item.settings-row
          .settings-header Sq Ft
          .settings-value {{translateSize(sizeSlider.min)}} - {{translateSize(sizeSlider.max)}}
          .settings-slider
            rzslider(rz-slider-model="sizeSlider.min" rz-slider-high="sizeSlider.max" rz-slider-options="sizeSlider.options" rz-slider-tpl-url="SettingsSliderTemplate")

        .item.settings-row
          .settings-header Days on Market
          .settings-value {{translateDom(domSlider.min)}} - {{translateDom(domSlider.max)}}
          .settings-slider
            rzslider(rz-slider-model="domSlider.min" rz-slider-high="domSlider.max" rz-slider-options="domSlider.options" rz-slider-tpl-url="SettingsSliderTemplate")

        .item.settings-row
          .settings-header In Shapes / Areas
          button.button.settings-button.btn-white.btn-checkbox(
            ng-class="{active: Toggles.propertiesInShapes == (c == 'on')}"
            ng-click="makeDirty()"
            ng-repeat="c in ['on', 'off']"
            ng-model="Toggles.propertiesInShapes"
            btn-radio="{{c == 'on'}}"
            uncheckable) {{c}}

      footer.mobile-footer.mobile-footer-modal
        button.button.button-full.button-action(ng-click="apply()" ng-class="{ 'disabled': !dirty }") Apply Filters

  script(type="text/ng-template" id="SettingsSliderTemplate")
    include _settingsSliderTemplate.html
