span.btn-group
  button.btn.btn-transparent.nav-btn(
    ng-click="Toggles.toggleIsSketchMode();isOpens.sketch = !isOpens.sketch; togglePanel('sketch')"
    popover-placement="bottom"
    popover="Add a Sketch"
    popover-trigger="mouseenter"
    ng-class="Toggles.isSketchMode ? 'on' : ''"
  )
    span.icon.icon-pen2
