span.btn-group
  button.btn.btn-transparent.nav-btn(
    ng-click="Toggles.toggleIsSketchMode()"
    popover-placement="bottom"
    popover="Add a Sketch"
    popover-trigger="click mouseenter"
    ng-class="Toggles.isSketchMode ? 'on' : ''")
    span.icon.icon-pen2
