span.btn-group
  button.btn.btn-transparent.nav-btn(
    ng-click="Toggles.toggleIsAreaDraw({stats:true})"
    popover-placement="bottom"
    uib-popover="Get Property Statistics"
    popover-trigger="'mouseenter touchend'"
    ng-class="Toggles.isAreaDraw ? 'on' : ''"
  )
    i.icon.fa.fa-bar-chart
