.property-img(ng-class="{static: !property.photos.length && panoramaControls}")
  div(ng-if="!imageLoaded && !coverImage")
    img(rmaps-cdn-image ng-src="/assets/progress-big.gif")

  ui-gmap-street-view-panorama.prop-image-panorama(
    ng-cloak
    ng-if="!property.photos.length"
    ng-show="panoramaOk() && panoramaControls"
    style="background-color:transparent;"
    focalcoord="property.geometry_center"
    radius="50"
    imagestatus="panorama.status"
    control="controls.streetView")

  img(
    ng-cloak
    ng-if="!property.photos.length && panoramaOk() && !panoramaControls"
    ng-src="{{formatters.property.google.StreetView.getUrl(property, imageWidth, imageHeight)}}"
    title="{{property.title}}"
    ui-sref="property({id:property.rm_property_id})")

  img(
    ng-cloak
    ng-if="!property.photos.length && !panoramaOk()"
    ng-src="{{formatters.property.google.Satellite.getUrl(property, imageWidth, imageHeight)}}")

  img(
    ng-cloak
    ng-if="property.photos.length && coverImage"
    ng-src="{{property.photos[0].url}}"
    title="{{property.title}}"
    ui-sref="property({id:property.rm_property_id})")

  div.carousel.carousel-standard(
    uib-carousel
    active="active"
    carousel-image-error="/assets/mls_unavailable.png"
    ng-if="property.photos.length && !coverImage"
    ng-show="imageLoaded")

    div(uib-slide ng-repeat="photo in property.photos" index="photo.index")
      img.resizable(ng-src="{{photo.url}}" style="margin:auto;" ui-sref="property({id:property.rm_property_id})")
      .carousel-caption(ng-if="photo.caption" ng-cloak) {{photo.caption}}

  .prop-image-status(ng-if="showStatus" class="{{formatters.property.getStatusLabelClass(property)}}") {{formatters.property.getStatusLabel(property, imageWidth)}}
