.property-img(ng-class="{static: !property.photos.length && panoramaControls}")

  rmaps-street-view-panorama.prop-image-panorama(
    ng-cloak
    ng-if="!property.photos.length && !blockGoogle"
    ng-show="panoramaOk() && panoramaControls"
    style="background-color:transparent;"
    focalcoord="property.geometry_center"
    radius="50"
    imagestatus="panorama.status"
    control="controls.streetView")

  img(
    ng-cloak
    ng-if="!property.photos.length && panoramaOk() && !panoramaControls && !blockGoogle"
    ng-src="{{formatters.property.google.StreetView.getUrl(property, imageWidth, imageHeight)}}"
    title="{{property.title}}"
    ui-sref="property({id:property.rm_property_id})")

  img(
    ng-cloak
    ng-if="!property.photos.length && !blockGoogle && !panoramaOk()"
    ng-src="{{formatters.property.google.Satellite.getUrl(property, imageWidth, imageHeight)}}"
    ui-sref="property({id:property.rm_property_id})")

  .no-images(
    ng-if="!property.photos.length && blockGoogle"
    ui-sref="property({id:property.rm_property_id})")

  img(
    ng-cloak
    ng-if="property.photos.length && coverImage"
    ng-src="{{property.photos[0].url}}"
    title="{{property.title}}"
    ui-sref="property({id:property.rm_property_id})")

  flickity.carousel(ng-if="property.photos.length && !coverImage")
    .carousel-cell(ng-repeat="photo in property.photos" index="photo.index")
      img(data-flickity-lazyload="{{photo.url}}" ui-sref="property({id:property.rm_property_id})")

  .prop-image-status(ng-if="showStatus" class="{{formatters.property.getStatusLabelClass(property)}}") {{formatters.property.getStatusLabel(property, imageWidth)}}
