.row
  .col-sm-6.col-xs-12
    .bordered
      .prop-image.zoomable(ui-sref="property({ id: property.rm_property_id })")
        .prop-image-status.prop-image-status-md(ng-class="formatters.property.getStatusLabelClass(property,true)") {{property.rm_status}}
        img.project-property-image(ng-cloak ng-if="property.geom_point_json.coordinates" ng-src="{{formatters.property.google.StreetView.getUrl(property, 420, 280)}}" title="{{property.title}}")
        img.project-property-image(ng-cloak ng-if="!property.geom_point_json.coordinates && loadedProperties" ng-src="/assets/test_property.jpg" title="{{property.title}}")

      property-buttons(property='property' project='project' zoom-click='zoomClick(property)')

  .col-sm-6.col-xs-12.property-card-right
    .mobile-padding
      .property-data.zoomable(ui-sref="property({ id: property.rm_property_id })")
        property-attributes(property='property')

      .project-card-notes
        .notes-title(ng-if="filteredNotes.length")
          a(ui-sref="projectNotes({ id: project.id })") Notes ({{filteredNotes.length || 0}})

        .list
          .item.item-border.project-note(ng-repeat="note in notes | filter:{ rm_property_id: property.rm_property_id } | orderBy:rm_inserted_time as filteredNotes")
            .note-data
              .note-date {{note.rm_inserted_time  | date:'MM/dd/yyyy'}}
              .note-author {{note.first_name}} {{note.last_name}}
              .note-text {{note.text}}

      .note-input
        form.note(name="createNoteForm_{{property.rm_property_id}}" ng-submit="createNote(project, property)")
          .input-group
            textarea.form-control(cols="25" rows="2"
            placeholder="Add a note about this property"
            name="noteText"
            type="text"
            ng-model="newNotes[property.rm_property_id].text"
            validator="minlength=1")
            span.input-group-addon(ng-click="createNote(project, property)" validation-submit="createNoteForm_{{property.rm_property_id}}") Add
