.project-notes-container(ng-controller="rmapsNotesModalCtrl")
  .project-note-input
    form.note(name="createProjectNoteForm" ng-submit="createNote(project)")
      .input-group
        textarea.form-control(cols="25" rows="2"
        placeholder="Add a note about this project"
        name="noteText"
        type="text"
        ng-model="newNotes['project'].text"
        validator="minlength=1")
        span.input-group-addon(ng-click="createProjectNote(project)" validation-submit="createProjectNoteForm") Add

  div(ng-include="'./views/project/_projectNotesInclude.jade'")
