section.profiles(ng-cloak)
  .centered
    .starter-template.light-message
      h2 Welcome back, {{user.name}}!
      .inline Select a profile or&nbsp;
      a.inline(href="#") create a new one.
      .list-group
        .profile-entry(ng-repeat="(key,profile) in profiles")
          button(
            ng-click="select(profile, $event)"
            class="list-group-item active")
            div(ng-if="!profile.showProfileNameInput")
              span(ng-show="profile.user_project_name") {{profile.user_project_name}}
              span(ng-show="!profile.user_project_name") Sandbox
              .fa.fa-chevron-right.fa-3.pull-right
              .fa.fa-edit.fa-3.pull-right(ng-click="activateInput(profile, $event)")
          input(
            ng-model="profile.user_project_name"
            ng-required="true"
            ng-minlength="2"
            ng-if="profile.showProfileNameInput"
            ng-click="$event.stopPropagation()"
            ng-change="change(profile)"
            ng-blur="blur()")
