include ../includes/mixins/_leafletMixin.jade

.project-dashboard-container
  .row.project-top
    .col-sm-6.col-xs-12
      .desktop-only
        carousel.carousel-standard(
        interval="myInterval"
        ng-if="pins.length"
        active="activeSlide"
        slide-selector
        slide-selector-label="formatters.property.getStreetAddress(actual)"
        on-carousel-change="onSlideChanged(nextSlide, direction)")
          slide.project-card.bordered(ng-repeat="property in pins" active="property.activeSlide" actual="property")
            .pin-image.prop-image
              .prop-image-status.prop-image-status-md(ng-class="formatters.property.getStatusLabelClass(property,true)") {{property.rm_status}}
              img(ng-if="property.geom_point_json.coordinates" ng-src="{{formatters.property.google.StreetView.getUrl(property, 500, 300)}}" title="{{property.title}}")
              img.pin-sample-image(ng-if="!property.geom_point_json.coordinates && loadedProperties" ng-src="/assets/test_property.jpg" title="{{property.title}}")
            .pin-attributes.content-block
              property-attributes(property="property")

      .mobile-only
        carousel.carousel-standard(
        interval="myInterval"
        ng-if="pins.length"
        active="activeSlide"
        on-carousel-change="onSlideChanged(nextSlide, direction)")
          slide.project-card.bordered(ng-repeat="property in pins" active="property.activeSlide" actual="property")
            .pin-image.prop-image
              .prop-image-status.prop-image-status-md(ng-class="formatters.property.getStatusLabelClass(property,true)") {{property.rm_status}}
              img(ng-if="property.geom_point_json.coordinates" ng-src="{{formatters.property.google.StreetView.getUrl(property, 350, 200)}}" title="{{property.title}}")
              img.pin-sample-image(ng-if="!property.geom_point_json.coordinates && loadedProperties" ng-src="/assets/test_property.jpg" title="{{property.title}}")
            .pin-attributes.content-block
              property-attributes(property="property")

      .project-instructions(ng-if="!pins.length && loadedProperties")
        span You don't have any Pins
        span.icon.icon-pin.project-instruction-icon
        span or Favorites
        i.fa.fa-heart.project-instruction-icon

        .project-instruction-details
          | Pins and Favorites are ways to save properties.
          | As the project owner you will Pin properties to add them to this project.
          | Your clients will mark properties as Favorites.
        img.project-instruction-image(src='/assets/project/pin-favorite-instruction.png')

    .col-sm-6.hidden-xs
      //img.bordered(src='/assets/test_map.jpg' style="background-color: lightblue; width: 100%; height: 406px")
      .dashboardMap
        leaflet(
        id="dashboardMap"
        bounds="dashboardMapAccess.context.bounds"
        defaults="dashboardMapAccess.context.defaults"
        center="dashboardMapAccess.context.center"
        layers="dashboardMapAccess.context.layers"
        markers="dashboardMapAccess.context.markers"
        markers-nested="true"
        event-broadcast="dashboardMapAccess.context.events"
        )
        //markers-nested="dashboardMapAccess.context.markersNested"
        //markers-watch-options="dashboardMapAccess.context.markersWatchOptions"
        //geojson-watch-options="dashboardMapAccess.context.geojsonWatchOptions"
        //geojson="dashboardMapAccess.context.geojson"
        //geojson-nested="true"
        //controls="controls"

    .project-notes(ng-class="{ 'col-sm-12': $state.is('project'), 'col-sm-6 pull-right': !$state.is('project') }")
      .notes-title
        a(ui-sref="projectNotes({ id: project.id })") Notes ({{notes.length || 0}})

      div(ng-include="'./views/project/_projectNotesInclude.jade'")
