include ./map-toolbar.jade

ui-gmap-google-map(center='center', zoom='zoom', draggable='true',
  dragging='dragging', bounds='bounds', events='events', options='options',
  pan='true', control='control', ng-cloak=''
)

  //ui-gmap-layer(type='TrafficLayer', show='showTraffic')
  //ui-gmap-layer(type='BicyclingLayer', show='showBicycling')
  //ui-gmap-layer(namespace='weather', type='WeatherLayer', show='showWeather')
  //two drag zooms for either keyboard or button
  
  ui-gmap-drag-zoom(keyboardkey='"alt"')
  ui-gmap-drag-zoom(options='dragZoom.options')


  //ui-gmap-markers(options='layerFormatters.MLS.labelFromPrice',
  //  models='layers.mlsListings',
  //  coords='"self"',
  //  idkey='"id"',
  //  click='clickedMarker',
  //  ng-cloak='',
  //  doCluster='doClusterMarkers')

  ui-gmap-window(coords='layers.listingDetail', forceClick="true")
    div(ng-cloak='') {{layers.listingDetail}}

  // BEGIN PARCEL DATA
  ui-gmap-markers(options='layerFormatters.Parcels.labelFromStreetNum',
    models='layers.parcels',
    coords='"self"',
    idkey='"rm_property_id"',
    click='clickedMarker',
    ng-cloak='')

  ui-gmap-polygons(models='layers.parcels',
    idkey='"rm_property_id"'
    path='"geom_polys"',
    fill="layerFormatters.Parcels.fill",
    stroke="{ color: '#2c8aa7', weight: 3, opacity: '1.0' }",
    visible='true', geodesic='true',
    fit='false', editable='false', static='true', ng-cloak='')
  //END PARCEL DATA

  include ./map-query-draw.jade
