<!--Begin Results Container-->
.results-container.navbar-below#results-slide(ng-show="Toggles.showResults")
    .tray-close#results-close(ng-click="Toggles.showResults = !Toggles.showResults")
     i.centered.fa.fa-chevron-right.fa-2x
    #results-list-inner
        #results-header
            div(id="results-header-results-count-arrow")
            div(id="results-header-results-count")
                .ng-cloak {{resultsPotentialLength}} Results
            div(id="results-header-right")
                span Sort by
                .btn-group
                    button(id="results-sort-beds" class="btn btn-default btn-xs" ng-click="resultsFormatter.setResultsPredicate('bedrooms'); reverse=resultsAscending" ng-class="resultsFormatter.getActiveSort('bedrooms')") Beds
                    button(id="results-sort-sqft" class="btn btn-default btn-xs" ng-click="resultsFormatter.setResultsPredicate('finished_sqft'); reverse=resultsAscending" ng-class="resultsFormatter.getActiveSort('finished_sqft')") Sq Ft
                    button(id="results-sort-sqft" class="btn btn-default btn-xs" ng-click="resultsFormatter.setResultsPredicate('year_built'); reverse=resultsAscending" ng-class="resultsFormatter.getActiveSort('year_built')") Year
                    //inverting (!) reverse for boolean isSaved
                    button(id="results-sort-price" class="btn btn-default btn-xs" ng-click="resultsFormatter.setResultsPredicate('price'); reverse=resultsAscending" ng-class="resultsFormatter.getActiveSort('price')") Price
                    button(id="results-sort-price" class="btn btn-default btn-xs" ng-click="resultsFormatter.setResultsPredicate('savedDetails.isSaved'); reverse=resultsAscending" ng-class="resultsFormatter.getActiveSort('savedDetails.isSaved')") Saved
                i(class="results-sort-btn btn btn-default btn-xs" ng-class="resultsFormatter.getSorting()" ng-click="resultsFormatter.invertSorting(); reverse=resultsAscending")
        #results-list(infinite-scroll='resultsFormatter.loadMore()' infinite-scroll-distance='1' infinite-scroll-container='"#results-list"')
            //ng-mouseover="resultsFormatter.mouseover(result)" ng-mouseout="resultsFormatter.mouseout(result)"
            
            //DEBUG repeat
            //div(ng-repeat="result in results | orderBy:resultsPredicate:reverse | limitTo:resultsLimit" class="result-property" rmaps-post-repeat options="resultsRepeatPerf")
            div(ng-repeat="result in results | orderBy:resultsPredicate:reverse | limitTo:resultsLimit" class="result-property")
                .card.animated.slide-down( id="l-el{{result.rm_property_id}}" ng-click="showDetails = !showDetails")
                    //.result-arrow
                        .box Sold
                        .arrow
                    .photo()
                        img(ng-src="{{resultsFormatter.getCurbsideImage(result)}}")
                    .info
                        .address {{result.street_address_num + " " + result.street_address_name + " " + result.street_type }}
                        .price {{resultsFormatter.getPrice(result.price)}}
                            .property-status {{result.rm_status}} <i class="fa fa-square fa-lg" ng-class="resultsFormatter.getForSaleClass(result)"></i>
                        div
                            .beds
                                span.data {{resultsFormatter.orNa(result.bedrooms)}}
                                span.title Beds
                            .baths
                                span.data {{resultsFormatter.orNa(result.baths_total)}}
                                span.title Baths
                            .sqft
                                span.data {{resultsFormatter.orNa(result.finished_sqft)}}
                                span.title Sq Ft
                            .year
                                span.data {{resultsFormatter.orNa(result.year_built)}}
                                span.title Year
                .card-buttons
                    button.snail.btn.btn-info.btn-xs(ng-click="sendSnail(result)")<i class="fa fa-envelope"></i> Send Mailing
                    button.btn.btn-default.btn-xs() Save
                    button.btn.btn-default.btn-xs() Do Something

        #results-footer
            .close(ng-click="toggleNav('map')") x
<!--End Results Container-->
