.results-container.navbar-below#results-slide(ng-show="Toggles.showResults"
ng-init="resultsInit('results-list','result-property ng-scope')")
    .tray-close#results-close(ng-click="Toggles.showResults = !Toggles.showResults")
        i.centered.fa.fa-chevron-right.fa-2x
    #results-list-inner
        #results-header
            div(id="results-header-results-count-arrow")
            div(id="results-header-results-count")
                .ng-cloak {{resultsPotentialLength}} Results
            div(id="results-header-right")
                span Sort by
                .btn-group
                    button(id="results-sort-beds" class="btn btn-default btn-xs"
                    ng-click="resultsFormatter.setResultsPredicate('bedrooms'); reverse=resultsAscending"
                    ng-class="resultsFormatter.getActiveSort('bedrooms')") Beds

                    button(id="results-sort-sqft" class="btn btn-default btn-xs"
                    ng-click="resultsFormatter.setResultsPredicate('finished_sqft'); reverse=resultsAscending"
                    ng-class="resultsFormatter.getActiveSort('finished_sqft')") Sq Ft

                    button(id="results-sort-sqft" class="btn btn-default btn-xs"
                    ng-click="resultsFormatter.setResultsPredicate('year_built'); reverse=resultsAscending"
                    ng-class="resultsFormatter.getActiveSort('year_built')") Year

                    button(id="results-sort-price" class="btn btn-default btn-xs"
                    ng-click="resultsFormatter.setResultsPredicate('price'); reverse=resultsAscending"
                    ng-class="resultsFormatter.getActiveSort('price')") Price

                    button(id="results-sort-price" class="btn btn-default btn-xs"
                    ng-click="resultsFormatter.setResultsPredicate('savedDetails.isSaved'); reverse=resultsAscending"
                    ng-class="resultsFormatter.getActiveSort('savedDetails.isSaved')") Saved

                i(class="results-sort-btn btn btn-default btn-xs" ng-class="resultsFormatter.getSorting()" ng-click="resultsFormatter.invertSorting(); reverse=resultsAscending")

        #results-list(infinite-scroll='resultsFormatter.loadMore()' infinite-scroll-distance='1' infinite-scroll-container='"#results-list"')
            //DEBUG repeat
            //div(ng-repeat="result in results | orderBy:resultsPredicate:reverse | limitTo:resultsLimit" class="result-property" rmaps-post-repeat options="resultsRepeatPerf")
            div(ng-repeat="result in results | orderBy:resultsPredicate:reverse | limitTo:resultsLimit" class="result-property")
                .card.animated.slide-down( id="l-el{{result.rm_property_id}}" ng-click="showDetails = !showDetails")
                    //.result-arrow
                        .box Sold
                        .arrow
                    .photo()
                        img(ng-cloak ng-src="{{resultsFormatter.getCurbsideImage(result)}}")
                    .info
                        .address(ng-if="result.street_address_num || result.street_address_name || result.street_type",ng-cloak)
                            | {{result.street_address_num + " " + result.street_address_name + " " + result.street_type }}
                        .price(ng-cloak)
                            .price-value {{resultsFormatter.getPrice(result.price)}}
                            .property-status {{result.rm_status}}&nbsp;
                                i.fa.fa-square.fa-lg(ng-if="resultsFormatter.isSavedResult(result)" ng-class="resultsFormatter.getForSaleClass(result)" ng-click="resultsFormatter.clickSaveResultFromList(result)")
                                i.fa.fa-square.fa-lg(ng-if="!resultsFormatter.isSavedResult(result)" ng-class="resultsFormatter.getForSaleClass(result)")
                        div
                            .beds(ng-if="result.bedrooms" ng-cloak)
                                span.data {{result.bedrooms}}
                                span.title Beds
                            .baths(ng-if="result.baths_total" ng-cloak)
                                span.data {{result.baths_total}}
                                span.title Baths
                            .sqft(ng-if="result.finished_sqft" ng-cloak)
                                span.data {{result.finished_sqft}}
                                span.title Sq Ft
                            .year(ng-if="result.year_built" ng-cloak)
                                span.data {{resultsFormatter.getYear(result.year_built)}}
                                span.title Year
                .card-buttons
                    button.snail.btn.btn-info.btn-xs(ng-click="sendSnail(result)")
                      i.fa.fa-envelope
                      | Send Mailing
                    button.btn.btn-default.btn-xs() Save
                    button.btn.btn-default.btn-xs() Do Something

        #results-footer
            .close(ng-click="toggleNav('map')") x