
ui-gmap-google-map(ng-if="Toggles.showSatMap && streetViewImageStatus != 'OK'" center='selectedResult.geom_point_json', zoom='18',
  bounds='satMap.bounds' options='satMap.options',
  pan='true', control='control', ng-cloak=''
  tabindex='0'
)
  // BEGIN PARCEL DATA
  ui-gmap-markers(
    options='formatters.layer.Parcels.labelFromStreetNum'
    models='layers.parcels'
    coords='"geom_point_json"'
    idkey='"rm_property_id"'
    ng-cloak=''
    control='controls.streetNumMarkers'
    events='actions.listingEvents'
    modelsbyref='true'
    chunk='50')

  // Would be nice to have just options without each individual attribute
  //https://github.com/angular-ui/angular-google-maps/issues/1033
  ui-gmap-polygons(
    models='layers.parcels'
    idkey='"rm_property_id"'
    path='"geom_polys_json"'
    fill="formatters.layer.Parcels.fill"
    stroke="{ color: formatters.layer.Parcels.strokeColor, weight: formatters.layer.Parcels.strokeWeight, opacity: '1.0' }"
    visible='true'
    geodesic='true'
    events='actions.listingEvents'
    fit='false'
    editable='false'
    ng-cloak=''
    static='true'
    chunk='false'
    cleanchunk='800'
    control='controls.parcels'
    zIndex='10')
  //END PARCEL DATA