div(ng-if="!mlsData.current.id").config-panel.not-allowed
  div.select-pill Select an MLS...
div(ng-class="{ 'not-allowed': !mlsData.current.id, 'fourth-opacity': !mlsData.current.id }").main-config-panel
  uib-accordion(close-others="false")
    div(uib-accordion-group is-disabled="!mlsData.current.id")
      uib-accordion-heading
        div
          span(ng-class="{ 'half-opacity': !mlsData.current.id }") MLS Server Info
      table
        tr
          td
            label.data-label ID:
          td(colSpan=2)
            input(type="text" ng-model="mlsData.current.id" ng-disabled="true").form-control.input-lg
        tr
          td
            label.data-label URL:
          td(colSpan=2)
            input(type="text" ng-model="mlsData.current.url" ng-disabled="!principal.hasPermission('change_mlsconfig_serverdata')").form-control.input-lg
        tr
          td
            label.data-label Username:
          td(colSpan=2)
            input(type="text" ng-model="mlsData.current.username" ng-disabled="!principal.hasPermission('change_mlsconfig_serverdata')").form-control.input-lg
        tr
          td(colSpan=2)
            button(ng-click="passwordModal()" ng-disabled="!principal.hasPermission('change_mlsconfig_serverdata')").btn.btn-primary Change Password

    div(uib-accordion-group is-disabled="!mlsData.current.id")
      uib-accordion-heading
        div
          span(ng-class="{ 'half-opacity': !mlsData.current.id }") MLS Management
      table
        tr
          td
            label.data-label Name:
          td
            input(type="text" ng-model="mlsData.current.name" ng-disabled="!principal.hasPermission('change_mlsconfig')").form-control.input-lg
        tr
          td
            label.data-label Formal Name:
          td
            input(type="text" ng-model="mlsData.current.formal_name" ng-disabled="!principal.hasPermission('change_mlsconfig')").form-control.input-lg
        tr
          td
            label.data-label Notes:
          td
            textarea(ng-model="mlsData.current.notes" ng-disabled="!principal.hasPermission('change_mlsconfig')").form-control.input-lg
        tr
          td
            label.data-label Active:
          td
            input(type="checkbox" ng-model="mlsData.task.active" ng-disabled="!principal.hasPermission('change_mlsconfig') || !isReady(mlsData.current)").form-control

    div(uib-accordion-group is-disabled="!mlsData.current.id")
      uib-accordion-heading
        div
          span(ng-class="{ 'half-opacity': !mlsData.current.id }") MLS Disclaimer
      table
        tr
          td
            label.data-label DMCA Contact Name:
          td
            input(type="text" ng-model="mlsData.current.dmca_contact_name" ng-disabled="!principal.hasPermission('change_mlsconfig')").form-control.input-lg
        tr
          td
            label.data-label DMCA Contact Address:
          td
            textarea(ng-model="mlsData.current.dmca_contact_address" ng-disabled="!principal.hasPermission('change_mlsconfig')").form-control.input-lg
        tr
          td
            label.data-label Disclaimer Logo:
          td(colSpan=2)
            button(ng-click="selectIcon()" ng-disabled="!principal.hasPermission('change_mlsconfig')").btn.btn-primary Select Logo Icon

            //- input(type="text" ng-model="mlsData.current.disclaimer_logo" ng-disabled="!principal.hasPermission('change_mlsconfig')").form-control.input-lg
        tr
          td
            label.data-label Disclaimer Text:
          td
            textarea(ng-model="mlsData.current.disclaimer_text" ng-disabled="!principal.hasPermission('change_mlsconfig')").form-control.input-lg

    div(uib-accordion-group is-disabled="!mlsData.current.id")
      uib-accordion-heading
        div
          span(ng-class="{ 'half-opacity': !mlsData.current.id }") Property Listings Schema
      .row
        .col-md-12
          table
            tr
              td
                label(ng-class="{ 'half-opacity': formItems.listing_data.db.disabled }").data-label Database:
              td
                select(
                id="dbselect"
                type="text"
                ng-model="mlsData.current.listing_data.db"
                ng-options="value.ResourceID as value.VisibleName for value in schemaOptions.listing_data.db"
                ng-change="processAndProceed(1, 'listing_data')"
                ng-disabled="formItems.listing_data.db.disabled")
                  option(value="" disabled)
            tr
              td
                label(ng-class="{ 'half-opacity': formItems.listing_data.table.disabled }").data-label Table:
              td
                select(
                id="tableselect"
                type="text"
                ng-model="mlsData.current.listing_data.table"
                ng-options="value.ClassName as value.VisibleName for value in schemaOptions.listing_data.table"
                ng-change="processAndProceed(2, 'listing_data')"
                ng-disabled="formItems.listing_data.table.disabled")
                  option(value="" disabled)

            tr(ng-repeat="(key, longName) in columns.listing_data")
              td
                label(ng-class="{ 'half-opacity': formItems.listing_data[key].disabled }").data-label {{longName}} Column:
              td
                select(
                type="text"
                ng-model="mlsData.current.listing_data[key].name"
                ng-options="value.SystemName as value.LongName group by value.DataType for value in schemaOptions.listing_data.columns[key].options"
                ng-change="mlsData.current.listing_data[key].type = fieldNameMap.listing_data[key].columnTypes[mlsData.current.listing_data[key].name]"
                ng-disabled="formItems.listing_data[key].disabled")
                  option(value="" disabled)


            // BEGIN Photo Settings
            tr.sep
              td(colSpan=3)
                label.data-label.sep-photos Photos
            tr(ng-if="mlsData.current.id")
              td
                label.data-label Largest Object:
              td.pad-left
                select(
                  ng-model="mlsData.current.listing_data.largestPhotoObject"
                  ng-options="option for option in (mlsData.current.listing_data.photoObjects || fieldNameMap.objects)")
                  option(value="" disabled) Select Photo Object

              td(ng-if="mlsData.current.listing_data.mlsListingId.name && mlsData.current.listing_data.photoId.name")
                a(href="JavaScript:void(0)" ng-click="openPhotoHelper()") Largest Object Help

            tr(ng-if="mlsData.current.id")
              td
                label.data-label Objects:
              td.pad-left
                label Override?:
                input(type="checkbox"
                  ng-model="schemaOptions.listing_data.photos.objects.use"
                  ng-change="schemaOptions.listing_data.photos.objects.change()")
                input.photo-objects-text(
                  ng-if="!schemaOptions.listing_data.photos.objects.use"
                  type="text"
                  ng-model="fieldNameMap.objects"
                  disabled)

                input.photo-objects-text(
                  ng-if="schemaOptions.listing_data.photos.objects.use"
                  type="text"
                  placeholder="Comma Delimited list to set photoObjects"
                  ng-model="mlsData.current.listing_data.photoObjects")

            tr(ng-if="mlsData.current.id")
              td
                label.data-label Location:
              td.pad-left
                .bt-group
                  label.btn.btn-primary(ng-model="mlsData.current.listing_data.Location" uib-btn-radio="0") 0
                  label.btn.btn-primary(ng-model="mlsData.current.listing_data.Location" uib-btn-radio="1") 1


            tr.photo-info(ng-if="mlsData.current.id")
              td
                a.main-link(ng-if="mlsData.current.listing_data.photoInfo"
                  href="{{mlsData.current.listing_data.photoInfo}}") Additional Info:
                label.data-label(ng-if="!mlsData.current.listing_data.photoInfo") Additional Info:
              td.pad-left
                form(ng-if="schemaOptions.listing_data.photos.info.editing")
                  input(
                    ng-model="schemaOptions.listing_data.photos.info.temp"
                    type="text"
                    )
                  button.btn.btn-default(type="reset" ng-click="schemaOptions.listing_data.photos.info.cancel()") Cancel
                  button.btn.btn-primary(type="submit" ng-click="schemaOptions.listing_data.photos.info.save()") Save

                a(href="JavaScript:void(0)"
                  ng-click="schemaOptions.listing_data.photos.info.edit()"
                ) Edit
            tr.sep
              td(colSpan=3)
          // END Photo Settings
      .row
        .col-md-12
          button(ng-click="assignConfigDefault(mlsData.current, 'listing_data');updateObjectOptions(mlsData.current)").btn.btn-success Reset to defaults

    div(uib-accordion-group is-disabled="!mlsData.current.id")
      uib-accordion-heading
        div
          span(ng-class="{ 'half-opacity': !mlsData.current.id }") Agent Schema
      .row
        .col-md-12
          table
            tr
              td
                label(ng-class="{ 'half-opacity': formItems.agent_data.db.disabled }").data-label Database:
              td
                select(
                id="dbselect"
                type="text"
                ng-model="mlsData.current.agent_data.db"
                ng-options="value.ResourceID as value.VisibleName for value in schemaOptions.agent_data.db"
                ng-change="processAndProceed(1, 'agent_data')"
                ng-disabled="formItems.agent_data.db.disabled")
                  option(value="" disabled)
            tr
              td
                label(ng-class="{ 'half-opacity': formItems.agent_data.table.disabled }").data-label Table:
              td
                select(
                id="tableselect"
                type="text"
                ng-model="mlsData.current.agent_data.table"
                ng-options="value.ClassName as value.VisibleName for value in schemaOptions.agent_data.table"
                ng-change="processAndProceed(2, 'agent_data')"
                ng-disabled="formItems.agent_data.table.disabled")
                  option(value="" disabled)

            tr(ng-repeat="(key, longName) in columns.agent_data")
              td
                label(ng-class="{ 'half-opacity': formItems.agent_data[key].disabled }").data-label {{longName}} Column:
              td
                select(
                type="text"
                ng-model="mlsData.current.agent_data[key].name"
                ng-options="value.SystemName as value.LongName group by value.DataType for value in schemaOptions.agent_data.columns[key].options"
                ng-change="mlsData.current.agent_data[key].type = fieldNameMap.agent_data[key].columnTypes[mlsData.current.agent_data[key].name]"
                ng-disabled="formItems.agent_data[key].disabled")
                  option(value="" disabled)
      .row
        .col-md-12
          button(ng-click="assignConfigDefault(mlsData.current, 'agent_data');updateObjectOptions(mlsData.current)").btn.btn-success Reset to defaults

    div(uib-accordion-group is-disabled="!mlsData.current.id")
      uib-accordion-heading
        div
          span(ng-class="{ 'half-opacity': !mlsData.current.id }") Other Configuration
      .row
        .col-md-12
          table.max-width
            tr(ng-repeat="(field, default) in mlsData.configDefaults")
              td
                label.data-label {{ui.otherConfig[field].label}}:
              td.pad-left
                input(type="{{ui.otherConfig[field].type}}" ng-model="mlsData.current[field]").form-control.input-lg
              td.pad-left
                button(ng-click="assignConfigDefault(mlsData.current, field)" ng-disabled="mlsData.current[field] === default").btn.btn-success Assign to Default: {{ default | emptyValueOutput }}
            tr
              td
                label.data-label Force Overlap Ordering:
              td.pad-left
                | (feature not available yet)
              td.pad-left
                button(disabled="disabled").btn.btn-success Assign to Default: false
            tr
              td
                button(ng-click="testOverlapSettings(mlsData.current)").btn.btn-info Suggest Overlap Settings
                br
                | (configure normalization for MLS Listing ID first)
